Python 3.9.13
OS: Windows

#                                            HOW TO CLEAN DIRTY DATA

### Content

The dataset use for this exercise was taken from Kaggle and has following fields:

* `country`
* `country_code`
* `date_added`
* `has_expired` - Always `false`.
* `job_description` - The primary field for this dataset, containing the bulk of the information on what the job is about.
* `job_title`
* `job_type` - The type of tasks and skills involved in the job. For example, "management".
* `location`
* `organization`
* `page_url`
* `salary`
* `sector` - The industry sector the job is in. For example, "Medical services".

### I generally classify dirty data into 2 categories: Structure Dirty and Content Dirty

In [497]:
# First step load libraries
import pandas as pd
import pyarrow as pa
import numpy as np
import pyarrow.parquet as pq
from pyarrow import csv, parquet

### Lets load CVS file to work with it

In [498]:

df = pd.read_csv("Data/monster_com-job_sample.csv")

In [499]:
type(df)
# Lets find out the type of the dataset,offcourse it has to  be pandas

pandas.core.frame.DataFrame

In [500]:
shape_=df.shape
# We can see that we have 22000 rows and 14 columns, this information is very useful when you clean data because allow you to check changes

In [501]:
df.isnull().sum()/shape_[0]*100
# With this method we identify the quantity of null values
# Acording to our first shape command we get 22000 rows 
# lets findout the procentage of empty values

country             0.000000
country_code        0.000000
date_added         99.445455
has_expired         0.000000
job_board           0.000000
job_description     0.000000
job_title           0.000000
job_type            7.400000
location            0.000000
organization       31.213636
page_url            0.000000
salary             84.336364
sector             23.609091
uniq_id             0.000000
dtype: float64

In [502]:
df = df.set_index('uniq_id')
df.head(5)
# Before doing anything we are going to ser the column 'uniq_id' as an index, this way we are noi going to have integrity issues when makin join o merge

,country,country_code,date_added,has_expired,job_board,job_description,job_title,job_type,location,organization,page_url,salary,sector
uniq_id,,,,,,,,,,,,,
11d599f229a80023d2f40e7c52cd941e,United States of America,US,NaN,No,jobs.monster.com,TeamSoft is seeing an IT Support Specialist to...,IT Support Technician Job in Madison,Full Time Employee,"Madison, WI 53702",NaN,http://jobview.monster.com/it-support-technici...,NaN,IT/Software Development
e4cbb126dabf22159aff90223243ff2a,United States of America,US,NaN,No,jobs.monster.com,The Wisconsin State Journal is seeking a flexi...,Business Reporter/Editor Job in Madison,Full Time,"Madison, WI 53708",Printing and Publishing,http://jobview.monster.com/business-reporter-e...,NaN,NaN
839106b353877fa3d896ffb9c1fe01c0,United States of America,US,NaN,No,jobs.monster.com,Report this job About the Job DePuy Synthes Co...,Johnson & Johnson Family of Companies Job Appl...,"Full Time, Employee",DePuy Synthes Companies is a member of Johnson...,Personal and Household Services,http://jobview.monster.com/senior-training-lea...,NaN,NaN
58435fcab804439efdcaa7ecca0fd783,United States of America,US,NaN,No,jobs.monster.com,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,http://jobview.monster.com/engineer-quality-jo...,NaN,Experienced (Non-Manager)
64d0272dc8496abfd9523a8df63c184c,United States of America,US,NaN,No,jobs.monster.com,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,http://jobview.monster.com/shift-supervisor-pa...,NaN,Project/Program Management

### For sure we are not going to need data_added columns since it more than 99% of null values
- One observartio to have in mind is that salary is a label column so spit of this to have so many null values we have to find a way to use it cleaning structure an data

#### Lets to drop columns that has no information an are no really necesary, in this case salary is not going to be erase despite of the high porcentage of missing data because can be use later as a lable column

- 'date_added' column has 99.45 of null data so is necesary to drop it

In [503]:
# each of These columns have the same information so we can take for granted that are nos usefull, erasing these columns we can get better performance.

df['country_code'].unique() # the unique value for country code is US 

df['job_board'].unique() # The unique value for  Job_board jobs.monster.com

df['has_expired'].unique() # The unique value form has_expired  is No

df['page_url'].unique() #Page_url has the same information of job_title

df['country'].unique() # The unique value for country is United States of America

array(['United States of America'], dtype=object)

In [504]:
df = df.drop(['date_added','page_url','country_code','has_expired','country','job_board'], axis = 1)
df.tail(10)

# Now lets drop each one of the columns that have the same information

,job_description,job_title,job_type,location,organization,salary,sector
uniq_id,,,,,,,
1a48a8576057b15e2930281ad00fba7f,To apply to this Finance Manager role in Chica...,Finance Manager Job in Chicago,Full Time Employee,"Chicago, IL 60603",NaN,NaN,Business/Strategic Management
9796e104240789dd33cc436f6c383892,"Full-Time Amber Park Cincinnati, OH 3801 East ...",Licensed Practical Nurse LPN Job in Cincinnati,Full Time Employee,"Cincinnati, OH 45236",Healthcare Services Other/Not Classified,NaN,Medical/Health
0d8f312b55b917cc81b8cf1342d6f033,Sales Management TraineeLooking to use your sk...,Customer Service Professionals Consider a Care...,Full Time Employee,"Cincinnati, OH 45237",NaN,NaN,Field SalesGeneral/Other: Sales/Business Devel...
c1bb7e57dd8f5fb4fecc8e9d7bb69a19,We are looking to recruit a personal individua...,Patient Access Representative Job in Chicago,Full Time Temporary/Contract/Project,"Chicago, IL 60603",NaN,NaN,Customer Support/Client Care
abd9ad3e0ec3c934b5a59f3776012865,What The Job Is AboutSales Support Representat...,Immediate Customer Service Position Job in Cin...,Part Time,"Cincinnati, OH 45202",All,NaN,Entry Level
a80bc8cc3a90c17eef418963803bc640,This is a major premier Cincinnati based finan...,Assistant Vice President - Controller Job in C...,Full Time,"Cincinnati, OH",NaN,"120,000.00 - 160,000.00 $ /yearbonus",NaN
419a3714be2b30a10f628de207d041de,Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
5a590350b73b2cec46b05750a208e345,RE: Adobe AEM- Client - Loca...,AEM/CQ developer Job in Chicago,Full Time,"Chicago, IL 60602",NaN,NaN,NaN
40161cf61c283af9dc2b0a62947a5f1b,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",25.00 - 28.00 $ /hour,Installation/Maintenance/Repair
cb49f16ad72627b109e434e0cac97f7a,Contract AdministratorCan you be the point per...,Contract Administrator Job in Cincinnati,Full Time,"Cincinnati, OH",NaN,"40,000.00 - 46,000.00 $ /year+ annual bonus (u...",Experienced (Non-Manager)

In [505]:
 df = df.dropna(subset=['job_type','organization','sector'], how='any') 
 df.tail(10)
 # Now lets drop Na data of these three columns

,job_description,job_title,job_type,location,organization,salary,sector
uniq_id,,,,,,,
8e9f8638556bc1fd671bb99f4f01ac4d,CULINARY CAREER WEST CHESTER OHIO!EXECUTIVE CH...,EXECUTIVE CHEF WEST CHESTER OHIO $K-$K PLUS! B...,Full Time,"West Chester, OH",All,"75,000.00 - 85,000.00 $ /yearHighly Competitiv...",Manager (Manager/Supervisor of Staff)
ebce61a714f4dd7d15b0263fab42751e,"McCormick & Company, Incorporated, a global le...",Customer Business Manager Job in Cincinnati,"Full Time, Employee","Cincinnati, OH 45202",Food and Beverage Production,NaN,Marketing/Product
8a36252a31d7b06e901be0596bb6501a,About the JobWhat is more secure than the repl...,Outside Sales Representative Job in Cincinnati,Full Time Employee,"Cincinnati, OH 45202",AllEnergy and UtilitiesBusiness Services - Other,NaN,Experienced (Non-Manager)
a53be963aac0a938a50a4d4cf7bc3ca3,Company DescriptionProSource—a total office so...,Help Desk Support Engineer Job in West Chester,Full Time,"West Chester, OH",All,NaN,Experienced (Non-Manager)
1d37a888ca65fd919e459147a4c33457,"About Us: Viox Services, a wholly owned subsid...",Custodian Lead Job in Cincinnati,Full Time Employee,Location:,Real Estate/Property Management,NaN,Installation/Maintenance/Repair
7502ee8f0d324f86334c531fa8bcf663,RESPONSIBILITIES: ...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45249",Healthcare Services,NaN,Entry Level
9796e104240789dd33cc436f6c383892,"Full-Time Amber Park Cincinnati, OH 3801 East ...",Licensed Practical Nurse LPN Job in Cincinnati,Full Time Employee,"Cincinnati, OH 45236",Healthcare Services Other/Not Classified,NaN,Medical/Health
abd9ad3e0ec3c934b5a59f3776012865,What The Job Is AboutSales Support Representat...,Immediate Customer Service Position Job in Cin...,Part Time,"Cincinnati, OH 45202",All,NaN,Entry Level
419a3714be2b30a10f628de207d041de,Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,"45,000.00 - 60,000.00 $ /year",Manager (Manager/Supervisor of Staff)
40161cf61c283af9dc2b0a62947a5f1b,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",25.00 - 28.00 $ /hour,Installation/Maintenance/Repair


#### In the last shape command we got 20000 rows and now after dropping na values of some of columnd we get 11847 rows, the only column that remain with na vlues is salary with 83 % of null values for future propouses

In [506]:
shape_ = df.shape
df.isnull().sum()/shape_[0]*100

job_description     0.000000
job_title           0.000000
job_type            0.000000
location            0.000000
organization        0.000000
salary             83.801806
sector              0.000000
dtype: float64

# Structure Dirty

Salary column has a lot information that can be useful but we have to repair the structure of the information 
 
 - This column has a range between two values so we have to split them
 Lets split them and give then their own schema (first_sl float, second_sl float, mean_sl float, period_sl string)
 we have to erase son characteres like '-' and '$'

### Salary clean Structure

In [507]:
df['salary'].unique()
# We can see that thera are numbers, '-', strings ,'$'

array([nan, '9.00 - 13.00 $ /hour', '80,000.00 - 95,000.00 $ /year', ...,
       '55,000.00 - 60,000.00 $ /yearFull Benefits Package, Life Insurance, 401K, Relocation Support',
       '75,000.00 - 85,000.00 $ /yearHighly Competitive Base Salary PLUS Lucrative Bonus Plan in a Highly Diverse, Dynamic, Successful Company! Performance Based Upward Mobility Assured.\u200b Do Not Hesitate, Apply Today and Grow with this Nationally Present Award Winning Restaurant Group!',
       '25.00 - 28.00 $ /hour'], dtype=object)

In [508]:
df_sal_split = df['salary']
df_sal_split.tail(10)

uniq_id
8e9f8638556bc1fd671bb99f4f01ac4d    75,000.00 - 85,000.00 $ /yearHighly Competitiv...
ebce61a714f4dd7d15b0263fab42751e                                                  NaN
8a36252a31d7b06e901be0596bb6501a                                                  NaN
a53be963aac0a938a50a4d4cf7bc3ca3                                                  NaN
1d37a888ca65fd919e459147a4c33457                                                  NaN
7502ee8f0d324f86334c531fa8bcf663                                                  NaN
9796e104240789dd33cc436f6c383892                                                  NaN
abd9ad3e0ec3c934b5a59f3776012865                                                  NaN
419a3714be2b30a10f628de207d041de                        45,000.00 - 60,000.00 $ /year
40161cf61c283af9dc2b0a62947a5f1b                                25.00 - 28.00 $ /hour
Name: salary, dtype: object

In [509]:
df_sal_split= df_sal_split.str.split('/',expand=True)
df_sal_split
# We have to split the salary column and expand the results

,0,1,2,3,4,5
uniq_id,,,,,,
58435fcab804439efdcaa7ecca0fd783,NaN,NaN,NaN,NaN,NaN,NaN
64d0272dc8496abfd9523a8df63c184c,NaN,NaN,NaN,NaN,NaN,NaN
1e2637cb5f7a2c4615a99a26c0566c66,NaN,NaN,NaN,NaN,NaN,NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,NaN,NaN,NaN,NaN,NaN,NaN
2f8bdf60db4d85627ab8f040e67aa78d,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,NaN,NaN,NaN,NaN,NaN,NaN
9796e104240789dd33cc436f6c383892,NaN,NaN,NaN,NaN,NaN,NaN
abd9ad3e0ec3c934b5a59f3776012865,NaN,NaN,NaN,NaN,NaN,NaN
419a3714be2b30a10f628de207d041de,"45,000.00 - 60,000.00 $",year,None,None,None,None
40161cf61c283af9dc2b0a62947a5f1b,25.00 - 28.00 $,hour,None,None,None,None

In [510]:
df_sal_split[0].unique()
# There are some characteres that replace the range of salary because those companies don't want to say at first the payment

array([nan, '9.00 - 13.00 $ ', '80,000.00 - 95,000.00 $ ',
       '70,000.00 - 100,000.00 $ ', '68,000.00 - 72,000.00 $ ',
       '58,000.00 - 65,000.00 $ ', 'Up to $32000.00',
       'Salary, plus commission', '45,000.00 - 100,000.00 $ ',
       '40,000.00 - 50,000.00 $ ', '13.75 - 16.75 $ ',
       '35,000.00 - 45,000.00 $ ',
       'bonus, 401K matching, medical, vacation',
       '31,000.00 - 33,000.00 $ ', '17.00 - 22.00 $ ',
       '56,000.00 - 64,000.00 $ ', '45.00 - 50.00 $ ',
       '75,000.00 - 130,000.00 $ ', 'Up to $45000.00',
       '0.00 - 85,000.00 $ ', 'Negotiable based on experience',
       '60,000.00 - 110,000.00 $ ', 'Competitive Wages',
       '50,000.00 - 100,000.00 $ ',
       'Burg Simpson offers excellent benefits and compensation commensurate with experience.',
       '$40,000.00+ ', 'Excellent compensation and benefits',
       '69,000.00 - 101,000.00 $ ', '15.00 - 19.00 $ ',
       '15.00 - 21.00 $ ', '13.00 - 16.00 $ ', '25,000.00 - 57,000.00 $ ',
       '17.00 - 17.00 $ ', '85,000.00 - 100,000.00 $ ',
       '70,000.00 - 80,000.00 $ ', '50,000.00 - 60,000.00 $ ',
       '10.00 - 11.00 $ ', '0.00 - 90,000.00 $ ', '12.00 - 14.00 $ ',
       '11.85 - 11.85 $ ', '14.00 - 14.00 $ ',
       'Salary based on experience.', '$10.87+ ', '$12.00+ ',
       '30.93 - 30.93 $ ', '15.00 - 17.00 $ ', '45,000.00+ ',
       '20.00 - 23.00 $ ', '0.00 - 12.25 $ ', '13.45 - 13.45 $ ',
       '100,000.00 - 130,000.00 ', '40,000.00 - 50,000.00 ',
       '55.00 - 65.00 $ ', '40,000.00 - 45,000.00 $ ', '11.00 - 11.00 $ ',
       '11.00 - 13.00 $ ', '16.00 - 17.00 ', '70,000.00 - 85,000.00 ',
       '100,000.00 - 130,000.00 $ ', '13.00 - 13.00 $ ',
       '12.00 - 15.00 $ ', '$16.40+ ', '90,000.00 - 105,000.00 ',
       '55,000.00 - 65,000.00 $ ', '$120,000.00+ ', '26.92 - 26.92 $ ',
       '15.00 - 21.90 $ ', '55,000.00 - 75,000.00 $ ', '$13.50+ ',
       '16.00 - 18.00 $ ', '9.50 - 11.00 $ ', '90,000.00 - 100,000.00 ',
       '80,000.00 - 90,000.00 $ ', '19.50 - 19.50 $ ', '14.00 - 15.00 $ ',
       '54,058.00 - 79,174.00 $ ', '17.00 - 19.00 ',
       '35,000.00 - 55,000.00 $ ', 'Competitive Base Salary + Commission',
       '35.00 - 50.00 $ ', '$4,000 Sign-On Bonus',
       '54,000.00 - 66,000.00 $ ', '13.00 - 15.00 ', '13.00 - 15.00 $ ',
       '$1,100.00+ ', '25.00 - 35.00 $ ', '100.00 - 120.00 $ ',
       '30.00 - 35.00 $ ', '72,000.00 - 75,000.00 $ ', 'Employee Health',
       '22.00+ ', '170,000.00 - 200,000.00 $ ', '0.00 - 20.00 $ ',
       '75.00 - 100.00 $ ', '55.00 - 75.00 $ ', '$50,000.00+ ',
       '70.00 - 80.00 $ ', '80,000.00 - 220,000.00 $ ',
       '26.00 - 32.00 $ ', '10.00 - 12.00 $ ',
       '\xa070,000.00 - 80,000.00 $ ', '\xa095,000.00 - 105,000.00 $ ',
       '20.00 - 26.00 $ ', '120,000.00 - 140,000.00 $ ',
       '30.00 - 33.00 $ ', '\xa075,000.00 - 80,000.00 $ ',
       '19.92 - 19.92 $ ', '80,000.00 - 85,000.00 $ ',
       '75,000.00 - 85,000.00 $ ', '65,000.00 - 65,000.00 $ ',
       '50,000.00 - 65,000.00 $ ', '75,000.00 - 75,000.00 $ ',
       '45.00 - 55.00 ', '24.00 - 24.00 $ ', '100,000.00 - 120,000.00 ',
       '175,000.00 - 175,000.00 $ ', '60,000.00 - 70,000.00 $ ',
       '80,000.00 - 125,000.00 ', '90,000.00 - 110,000.00 $ ',
       '125,000.00 - 175,000.00 ', '70.00 - 85.00 $ ',
       '85,000.00 - 125,000.00 $ ',
       'Salary negotiable based on experience',
       '35,000.00 - 40,000.00 $ ',
       '*Excellent compensation and benefits package!*',
       '35.00 - 40.00 $ ', '0.00 - 125,000.00 $ ',
       '401K, Medical, Dental', '42,000.00 - 48,000.00 $ ',
       '90,000.00 - 120,000.00 $ ', '115,000.00 - 124,500.00 $ ',
       '85,000.00 - 110,000.00 $ ', '60,000.00 - 75,000.00 $ ',
       '35,000.00 - 85,000.00 $ ', '65,000.00 - 120,000.00 $ ',
       '30,000.00 - 150,000.00 $ ', '15.50 - 16.00 $ ',
       '108,887.00 - 141,555.00', '40,000.00 - 100,000.00 $ ',
       '75,000.00 - 90,000.00 $ ', '50,000.00 - 150,000.00 $ ',
       '95,000.00 - 115,000.00 $ ', '40,000.00 - 55,000.00 $ ',
       '95,000.00 - 110,000.00 $ ', 'Up to $18.00', 'Up to $13.00',
       '25,000.00 - 30,000.00 $ ', '100.00 - 110.00 $ ', 'Up to $14.00',
       'Competitive Salary for General Dentists', 'Up to $15.00',
       '1.00 - 2.00 $ ', '30,000.00 - 35,000.00 $ ', '43.00 - 46.00 $ ',
       'bonuses', 'Compet Mrkt Rate', '20.00 - 22.00 $ ',
       '36,000.00 - 38,000.00 $ ', 'Up to $30000.00',
       '32,000.00 - 42,000.00 $ ', '95,000.00 - 100,000.00 $ ',
       '51,708.80 - 81,475.47 $ ', '126,006.00 - 141,773.00 $ ',
       'Up to $10.00', '13.75 - 13.75 $ ', '48.00 - 55.00 $ ',
       'Base Salary + Bonuses', '100,000.00 - 135,000.00 $ ',
       '10.00 - 25.00 $ ', '70,000.00 - 85,000.00 $ ', '50.00 - 55.00 $ ',
       '65.00 - 70.00 $ ', '12.00 - 16.00 $ ', '84.00 - 87.50 $ ',
       '50,000.00 - 70,000.00 $ ', 'NHSC Loan Repayment', '$70,000.00+ ',
       'DOE', 'Up to $13.50', '45,000.00 - 60,000.00 $ ',
       'Up to $31000.00', 'Up to $150000.00', '62,000.00 - 78,000.00 $ ',
       'Based on experience', 'Up to $92000.00', 'Salary',
       '55.00 - 60.00 $ ', '38.00 - 44.00 $ ', '40.00 - 45.00 $ ',
       '55,000.00 - 70,000.00 $ ', '32,500.00 - 33,800.00 $ ',
       '65,000.00 - 72,000.00 $ ', 'Up to $40.00', '1.00 - 1.00 $ ',
       '$84,800.00+ ', '70,000.00 - 75,000.00 $ ',
       '35,000.00 - 52,000.00 $ ', 'Excellent salary and generous bonus',
       '70,000.00 - 90,000.00 $ ', 'Up to $55.00', '45.00 - 55.00 $ ',
       '40.00 - 55.00 $ ', 'Sign-On Bonus and Relocation Available',
       'Up to $42.00', 'Competitive Compensation', '18.00 - 21.00 $ ',
       '$13.00+ ', '40.00 - 40.00 $ ', '84,000.00 - 104,000.00 $ ',
       'Up to $25.00', '28,000.00 - 32,000.00 $ ', '20.02 - 20.02 $ ',
       '54,000.00 - 75,000.00 $ ', '64,000.00 - 90,000.00 $ ',
       '$50,627.00+ ', 'Salary commensurate with experience',
       '23.00 - 23.00 $ ', 'Draw and', '30,000.00 - 40,000.00 $ ',
       '80,000.00 - 100,000.00 $ ', 'Up to $60000.00',
       '40,000.00 - 65,000.00 $ ', '40.00 - 50.00 $ ',
       '0.00 - 75,000.00 $ ', '80,000.00 - 105,000.00 $ ',
       '85,000.00 - 85,000.00 $ ', '16.25 - 16.25 $ ',
       'Paid Days Off, Medical, Dental', '38,000.00 - 48,000.00 $ ',
       'Commensurate with Experience', 'plus incentive',
       'Salary, Commissions, Bonuses, Health Insurance, 401K with matching, Profit Sharing, AFLAC',
       '42,000.00 - 45,000.00 $ ', '14.00 - 18.00 $ ',
       '55,000.00 - 60,000.00 $ ', '25.50 - 25.50 $ ',
       '150,000.00 - 155,000.00 $ ',
       'Salary Based on Sales Volume and Experience',
       '82,064.00 - 106,683.00 $ ', '0.00 - 18.00 $ ', '12.00 - 13.00 $ ',
       '14.00 - 16.00 $ ', '33.00 - 33.00 $ ', '20.56 - 24.81 $ ',
       '40,000.00 - 60,000.00 $ ', '22.50 - 22.50 $ ',
       'Salary: Commensurate with experience',
       'Competative Wages, health and life insurance; paid holidays and vacation; 401K',
       '35,000.00 - 60,000.00 $ ', '45,000.00 - 50,000.00 $ ',
       '$60,000.00+ ', 'Commensurate with experience', '60.00 - 70.00 $ ',
       '51,000.00 - 51,000.00 $ ', '0.00 - 50,000.00 $ ',
       '9.00 - 11.00 $ ', '20.00 - 25.00 $ ', '16.74 - 26.78 $ ',
       'Based on experience plus bonus', '48,000.00 - 54,000.00 $ ',
       '35,000.00 - 35,000.00 $ ', '10.00 - 13.00 $ ', '16.32 - 18.37 $ ',
       '50,000.00 - 55,000.00 $ ', '150,000.00 - 151,000.00 $ ',
       '20.00 - 30.00 $ ', '110,000.00 - 130,000.00 $ ',
       '35,000.00 - 50,000.00 $ ', '25,000.00 - 50,000.00 $ ',
       '20.00 - 21.00 $ ', '60,000.00 - 60,000.00 $ ',
       '30,000.00 - 55,000.00 $ ', '15.00 - 15.50 $ ', '10.00 - 14.00 $ ',
       '10.00 - 15.00 $ ', '0.00 - 23.00 $ ', '14.00 - 17.00 $ ',
       '$16.50+ ', 'Full Time Salary with Benefits',
       'We offer competitive salary and benefits.', 'Up to $35000.00',
       'Competitive Salary and Benefits', '13.00 - 20.00 $ ',
       '65,000.00 - 80,000.00 $ ', '130,000.00 - 150,000.00 $ ',
       'Up to $40000.00', '95,000.00 - 125,000.00 $ ', '$35,000.00+ ',
       'Up to $55000.00', 'bonus based on work', '$62,717.00+ ',
       '30.00 - 40.00 $ ',
       'Full time positions offer a full benefits package. Salary will commensurate with experience.',
       '135,000.00 - 150,000.00 $ ', '32.36 - 32.36 $ ',
       '29,000.00 - 30,000.00 $ ', '215,000.00+ ', 'Base plus',
       '12.00 - 12.00 $ ', 'Excellent Bonus programs',
       'Based upon experience', '33,000.00 - 35,500.00 $ ',
       '18.00 - 20.00 $ ', '27.50 - 33.00 $ ', '29,000.00 - 33,000.00 $ ',
       '16.00 - 19.00 $ ', '70,000.00 - 70,000.00 $ ', 'Up to $65000.00',
       'Great Salary and Benefits', '150,000.00 - 300,000.00 $ ',
       'Excellent Salary and Benefit Package', 'Bonuses, merit raises',
       '$65,000.00+ ', '125,000.00 - 140,000.00 $ ', 'Negotiable',
       'competitive compensation and benefits package',
       '10.00 - 20.00 $ ', 'Up to $16.00', 'Up to $125000.00',
       'Up to $42000.00', 'Salary commensurate with experience.',
       '65,000.00 - 75,000.00 $ ', '0.00 - 15.00 $ ', '$30,000.00+ ',
       'End of year discretionary bonus', '45,000.00 - 57,000.00 $ ',
       '45,000.00 - 55,000.00 $ ', 'Up to $20.00',
       '45,000.00 - 54,000.00 $ ', '11.00 - 16.00 $ ',
       'Terrific salary and benefits, including incentive bonuses',
       'Up to $50000.00', 'Health Insurance, retirement plan',
       'Submit Salary requirement', 'Salary Benefits and Possible Bonus',
       '140,000.00 - 160,000.00 $ ', 'Up to $58.00', '$33,000.00+ ',
       '110,000.00 - 140,000.00 $ ', '4,362.39 - 5,445.57 $ ',
       'Base Salary Plus Commission', '$11.50+ ', '50.00 - 60.00 $ ',
       '30.00 - 32.00 ', '35,000.00 - 40,000.00 ', '18.00 - 22.00 $ ',
       '100,000.00 - 110,000.00 $ ', '60,000.00 - 65,000.00 ',
       '18.00 - 25.00 $ ', '24.23 - 29.86 $ ',
       '100,000.00 - 120,000.00 $ ', '$40,800.00+ ', '6.05 - 12.25 $ ',
       '\xa0', '30,000.00 - 75,000.00 $ ', '14.74 - 14.74 $ ',
       '0.00 - 39.00 $ ', '16.00 - 16.00 $ ', '0.00 - 45,000.00 $ ',
       '15.00 - 20.00 $ ', '120,000.00 - 150,000.00 $ ',
       '0.00 - 120,000.00 $ ', '100,000.00 - 185,000.00 $ ',
       '90,000.00 - 100,000.00 $ ', '25.00 - 25.00 $ ',
       '22.00 - 22.00 $ ', '13.00+ ', 'Hourly Wage',
       '75,000.00 - 150,000.00 $ ', '15.00 - 15.00 $ ',
       '57,200.00 - 62,400.00 $ ', '$10.00+ ', '65,000.00 - 70,000.00 $ ',
       'Health Insurance, 401k, PTO', '27.00 - 27.36 $ ',
       'Up to $54000.00', '$10.50+ ', 'Up to $85000.00',
       '13.00 - 19.00 $ ', '14.22 - 16.36 $ ',
       '0.00 - 960.00 $ \xa0bi-weeklyPay increase upon completion of training and promotion to Assistant Manager',
       'Salary plus commissions', '38,000.00 - 45,000.00 $ ',
       '0.00 - 35.00 $ ', '27,000.00 - 29,000.00 $ ', 'Up to $29.00',
       '45,000.00 - 65,000.00 $ ', 'Training Pay + Bonuses + Commission',
       '125,000.00 - 175,000.00 $ ', '50,000.00 - 75,000.00 $ ',
       '42,000.00 - 52,000.00 $ ', '40,000.00 - 75,000.00 $ ',
       'Salary Based on Experience, Salary plus bonuses',
       '70,000.00 - 110,000.00 $ ', '20,000.00 - 30,000.00 $ ',
       '37,000.00 - 65,000.00 $ ', 'Up to $9.94',
       '• Generous salary aligned with experience',
       '70,000.00 - 95,000.00 $ ', '10.75 - 10.75 $ ',
       '\xa085,000.00 - 120,000.00 $ ', '35.00 - 46.00 $ ',
       '13.78 - 16.60 $ ',
       'Full Benefits, Bonus Structure & Annual Performance Reviews',
       '$25,000.00+ ', 'Up to $11.00', '200,000.00 - 350,000.00 $ ',
       '0.00 - 22.15 $ ', '$51,446.00+ ', 'Up to $19.24',
       '85,000.00 - 90,000.00 $ ', '32.00 - 35.00 $ ', '30.00 - 36.00 $ ',
       '122,000.00 - 153,000.00 $ ', 'negotiable',
       '155,000.00 - 180,000.00 $ ',
       'Commensurate with experience and education',
       '63,400.00 - 86,858.00 $ ', '11.00 - 14.00 $ ',
       '50,000.00 - 200,000.00 $ ', '43,000.00 - 43,000.00 $ ',
       '80,000.00 - 130,000.00 $ ', '70,000.00 - 120,000.00 $ ',
       '40,600.00 - 67,600.00 $ ', '$14.00+ ',
       '80,000.00 - 110,000.00 $ ', '37,200.00 - 50,300.00 $ ',
       'Hourly wage based on experience', 'Up to $90000.00',
       '35.00 - 38.00 $ ',
       'Base + Commission= Total Compensation ($100K+)', '14.00 - 15.00 ',
       '34.00+ ', '65,000.00 - 95,000.00 $ ', '$85.00+ ',
       '26,000.00 - 50,000.00 $ ', '18.00 - 24.00 $ ', '16.00 - 20.00 $ ',
       'Excellent benefits package, Health, 401k', '10.75 - 11.75 $ ',
       'Benefits elegible', '600.00 - 800.00 $ ', '12.00 - 20.00 $ ',
       'Compensation is based on experience, and owner makes decision',
       '14.00 - 19.00 $ ', '0.00 - 8.50 $ ',
       'Competitive plus relocation assistance',
       '30,000.00 - 70,000.00 $ ', '12.50 - 13.50 $ ', 'TO BE DETERMINED',
       'Monthly bonuses based on achieving quotas',
       '32,000.00 - 36,000.00 $ ', '83,496.00 - 96,660.00 $ ', '$14.50+ ',
       '115,000.00 - 120,000.00 $ ', '12.00 - 17.00 $ ',
       '20.00 - 31.00 $ ', '$10.25+ ', '25.00 - 30.00 $ ',
       '15.75 - 17.00 $ ', '30,000.00 - 100,000.00 $ ',
       '21.00 - 23.00 $ ', '25,000.00 - 40,000.00 $ ', '10.85 - 11.85 $ ',
       'Expected earnings $50k+', '$31,000.00+ ', 'Base + Bonus',
       '65,000.00 - 68,000.00 $ ', '11.50 - 12.00 ',
       '30,000.00 - 50,000.00 $ ',
       'Competitive salary and benefits package',
       'Shift Differential Applies', '28,000.00 - 35,000.00 $ ',
       'competitive salary along with a comprehensive benefits package',
       '15.50 - 15.50 $ ', '22.00 - 24.00 $ ', '10.00 - 12.50 $ ',
       '14.50 - 14.50 $ ', '20.00 - 24.00 $ ', '15.00 - 30.00 $ ',
       '10.66 - 12.54 ', '16.00 - 21.00 $ ', '21.00 - 24.00 $ ',
       'bonus eligible, shift differential', '17.34 - 20.62 $ ',
       '20,000.00 - 60,000.00 $ ', '18.15 - 19.15 $ ',
       '25,000.00 - 75,000.00 $ ', '12.00 - 22.00 $ ',
       'Hourly wages will depend on experience', '11.00 - 11.50 $ ',
       '0.00 - 12.00 $ ', '17.74 - 26.13 $ ',
       'Compunetics offers a competitive salary and benefits package.',
       '11.00 - 12.00 $ ', '18.33 - 27.51 $ ', 'Up to $100000.00',
       'Yearly Bonuses', '0.00 - 29.50 $ ', '9.28 - 14.00 $ ',
       '40,000.00 - 80,000.00 $ ', '19.00 - 30.00 $ ',
       'Eligible for monthly bonus', '21.00 - 30.00 $ ',
       'Will be discussed during the interview',
       'Base pay plus aggressive incentive plan', '15.40 - 15.40 $ ',
       '15.99 - 23.98 $ ', '35,000.00 - 150,000.00 $ ',
       '55,000.00 - 55,000.00 $ ', '41,600.00 - 54,000.00 $ ',
       '71,988.00 - 83,340.00 $ ', '14.00 - 20.00 $ ',
       '50,000.00 - 50,000.00 $ ',
       'Position is intended as a Temp-to-Hire. Once hired on, eligible for standard benefits package - health, dental, vision, 401k, STD, LTD, vacation, paid holidays.',
       '9.00 - 9.00 $ ', '20.00 - 28.00 $ ', '18.00 - 23.00 $ ',
       '19.65 - 20.65 $ ', '11.00 - 16.25 $ ', '95,000.00 - 105,000.00 ',
       '52,000.00 - 60,000.00 $ ', '51,000.00 - 57,000.00 $ ',
       '14.00 - 22.00 $ ', '80,000.00 - 150,000.00 $ ',
       '15.00 - 35.00 $ ', '32,000.00 - 40,000.00 $ ', '13.00 - 14.00 $ ',
       'profit sharing', '40,000.00 - 85,000.00 $ ', '$25.00+ ',
       'bonus eligible', '60,000.00 - 85,000.00 $ ', '17.60 - 17.60 $ ',
       '15.00 - 17.50 $ ', '11.00 - 13.50 $ ', 'Up to $38000.00',
       'Competitive Pay',
       'W-2, Weekly Paycheck, Great Compensation Package and Incentives',
       '120,000.00 - 130,000.00 $ ', 'Excellent salary and bonus program',
       'Up to $120000.00', '20,000.00 - 35,000.00 $ ', '10.50 - 12.55 $ ',
       '13.00 - 18.00 $ ', '$11.52+ ', '17.00 - 18.00 $ ', '$8.74+ ',
       '19.00 - 22.00 $ ', '45,000.00 - 45,000.00 $ ',
       '"Best Employer" excellent compensation and benefits program',
       '9.00 - 50.00 $ ', '22.00 - 25.00 $ ', '10.00 - 10.00 $ ',
       '58,000.00 - 68,000.00 $ ', '13.10 - 16.20 $ ', '8.38 - 11.00 $ ',
       '10.21 - 12.01', '22.92 - 26.95 $ ', '31,000.00 - 46,000.00 $ ',
       '65.00 - 75.00 $ ', '31.00 - 35.00 ', '60,000.00 - 100,000.00 $ ',
       '45.00 - 54.00 $ ', '16.50 - 25.00 $ ', '28.56 - 43.83 $ ',
       '95,000.00 - 114,000.00 $ ', '13.50 - 13.50 $ ',
       'comissions and bonuses', '36,000.00 - 37,000.00 $ ',
       '18.00 - 19.00 $ ', '33.33 - 45.30 $ ', '$19.09+ ',
       '26,235.00 - 31,075.00 $ ', '50,793.60 - 64,771.20 $ ',
       '42,000.00 - 55,000.00 $ ', '17.00 - 25.00 $ ',
       '0.00 - 500,000.00 $ ', '13.39 - 19.42 $ ', '28.00 - 32.00 $ ',
       '26.00 - 26.00 $ ', '31.00 - 31.00 $ ',
       'Base salary plus quarterly incentive bonus and car allowance',
       '0.00 - 25.00 $ ', '100,000.00 - 118,000.00 $ ',
       '60,000.00 - 80,000.00 $ ', '75,000.00 - 84,000.00 $ ',
       'Up to $12.00', '75.00 - 125.00 $ ',
       'Based on Applicable Experience', '27.00 - 27.00 $ ',
       '27.00 - 36.00 $ ', '$60,576.00+ ', 'Salary with Benefits',
       '2 weeks paid vacation, 6 paid sick days, 10 paid holidays, full package',
       'Salary negotiable', '19.31 - 19.31 $ ', '22.43 - 22.43 $ ',
       '21.92 - 21.92 $ ', '17.87 - 17.87 $ ',
       '90,000.00 - 140,000.00 $ ', '76,000.00 - 76,000.00 $ ',
       '0.00 - 65,000.00 $ ', '40.00 - 60.00 $ ',
       '65,000.00 - 90,000.00 $ ', '60,000.00 - 90,000.00 $ ',
       '90,000.00 - 105,000.00 $ ', '55,000.00 - 130,000.00 $ ',
       'Competitive', '90,800.00 - 99,285.00 $ ',
       '28,000.00 - 28,500.00 $ ', '\xa0100,000.00 - 130,000.00 $ ',
       '$75,000.00+ ', '55.00 - 80.00 $ ',
       'Bonus plan available for the right person!', '23.50 - 23.50 $ ',
       'Dependent on Experience', '28.00 - 33.00 $ ',
       'Competitive, commensurate with market and experience',
       'Full time Salary', '43.00 - 43.00 $ ',
       '75,000.00 - 100,000.00 $ ', 'Negoiable DOE',
       '125,000.00 - 135,000.00 $ ', '16.00 - 24.00 $ ',
       '90,000.00 - 115,000.00 $ ', '15.65 - 20.15 $ ', 'competitive pay',
       '15.00 - 18.00 $ ', '60.00 - 75.00 $ ', '60,000.00 - 65,000.00 $ ',
       '71,079.00 - 109,839.00 $ ',
       'eligible for bonus, profit sharing and equity',
       'Based on Experience', '75,000.00 - 87,000.00 $ ',
       '45.00 - 60.00 $ ', '85,000.00 - 95,000.00 $ ',
       'Salary to commensurate with experience.', '0.00 - 130,000.00 $ ',
       '35.00 - 45.00 $ ', '0.00 - 100,000.00 $ ',
       'Salary Commensurate with Experience',
       'Salary dependent upon experience',
       'Benefits include health insurance, dental, vision, vacation, bonus',
       '73,500.00 - 110,300.00 $ ', 'Competitive Compensation Package',
       '5,882.93 - 7,883.20 $ ', '85,000.00+ ', '0.00 - 42,500.00 $ ',
       'Salary plus Bonus', '160,000.00 - 200,000.00 $ ',
       'We offer competitive salary and benefits', '16.00+ ',
       'Competitive salary, benefits, bonus', 'Commissions,bonus',
       '31.00 - 33.00 $ ', '50,000.00 - 98,000.00 $ ', '34.00 - 43.75 $ ',
       '10.00 - 18.00 $ ', '34.00 - 39.00 $ ', '$45,611.00+ ',
       '19.00 - 20.00 $ ', '60,000.00 - 73,000.00 $ ',
       'Based on Qualifications and experience',
       'Full medical, dental, vision coverage; 401K, Life Insurance policy',
       '65,000.00 - 85,000.00 $ ', '25,000.00 - 35,000.00 $ ',
       'Expenses ', '$40,673.00+ ', '13.00 - 17.00 $ ', 'Bonus',
       '50.00 - 75.00 $ ', '42,000.00 - 58,000.00 $ ',
       'Competitive Salary', '21.00 - 25.00 $ ', '0.00 - 73,000.00 $ ',
       'Concorde Battery offers a competitive salary and benefits.',
       'Salary based on experience of applicant',
       '41,000.00 - 41,000.00 $ ', '0.00 - 160,000.00 $ ',
       'salary comm. with experience',
       'DOE, Medical, Dental, Vision, 401K, Annual Bonus',
       '19.13 - 24.84 $ ', '17.00 - 19.00 $ ', 'Up to $52000.00',
       '$15.12+ ', '60,000.00 - 78,000.00 $ ', 'Excellent Benefits',
       '61,000.00 - 75,000.00 ', 'Bonuses', 'Send Salary History ',
       'Perm with benifits', '75,000.00 - 95,000.00 $ ',
       '13.50 - 16.50 $ ', '83,200.00 - 144,400.00 $ ',

In [511]:
df_sal_split[1].unique()
# These are the aditional conditions and benefits that one person can obtain into his contract

array([nan, 'hour', 'year', None, 'yearBonus, Benefits, 401k',
       'yearsalary', 'hourYear End Bonus',
       'yearHighly Competitive Base Salary Plus Lucrative Bonus Plan, Benefit Package, in a Highly Diverse, Very Successful Company! Performance Based Upward Mobility Assured.\u200b Do Not Hesitate, Apply Today.\u200b Grow with this Nationally Present, Dynamic Restaurant Group',
       'yearGenerous Commission plan', 'hourPlus benefits',
       'hourBenefits Package',
       'yearBase + Uncapped Commissions + Benefits',
       'hourBenefits + Annual Bonus', 'week',
       'Dental Benefits; 401k Employer Match',
       'yearbase salary plus bonus', 'year+ profit sharing',
       'yearpackage', 'yearPACKAGE', 'yearbonus, tips and comp time',
       'year5', 'hourgenerous benefit package',
       'year$8,000 Recruitment Incentive Pay may be available.',
       'yearPTO, 401K',
       'hourBenefits (401K, Health Insurance) and bonuses are potentials',
       'yearHealth Benefits', 'yearpaid time off, health',
       'yearpaid training, Paid Time Off (PTO), Health and Dental insurance options, flexible scheduling, mileage reimbursement, cell phone stipend, laptop computer',
       'yearRelocation',
       'yearFull comprehensive benefits (PTO, Health, Dental, Vision, LTD, and 401K matching, etc)',
       'yearCTP', 'yearFull benefits, 401k with company match.',
       'or Straight Commission',
       'yearSalary based upon professional experience, profit share benefits, Life benefits, Medical insurance',
       'yearMedical Benefits',
       'yearuncapped commission, full benefits, paid expenses',
       'hourHousing Discount, Commision',
       'yearCommissions, Car Allowance, Bonus',
       'yearBenefits Package, Relocation Support',
       'yearCompetitive Benefits Package',
       'yearhigh bonus potential and full benefits package',
       'yearCompetitive Benefits Salary, Relocation Support',
       'yearQuarterly bonuses', "yearPlus Bonus'", 'year+ bonus',
       'hourCompetitive wage rate and benefits package available to full time employees',
       'hourPlus Commissions, Possible quarterly bonus after 1 year',
       'yearBase + Commission', 'yearauto allowance & benefits',
       'yearUncapped Commission, Bonus', 'hourQuarterly Bonus',
       'hourBonuses available. Salary is DOE',
       'yearCommensurate with experience',
       'yearbonuses based upon performance', 'yearbase + bonus',
       'hourhours flexible, salary negotiable',
       'hourHourly rate will be based on experience',
       'yearHealth care benifits provided', 'yearBonus',
       'hourCompensation based on experience', 'yearbonus',
       'hourHealth insurance available', 'yearOT and bonus',
       'yearEnrollment in Firm Bonus Plan after 90 days.',
       'yearParking Provided by Employer', 'yearPlus Bonus',
       'yearStipend for Health Insurance', 'yearBonus eligible', 'month',
       'yearPaid vacation & holiday',
       'yeardiscretionary salary and bonus', 'hourBonus', 'yearw',
       'hourannual bonus available',
       'yearSalary $30,000 + Commissions + Benefits',
       'yearCommission, Auto Allowance, Telephone Allowance',
       'hourfull package', 'yearPercentage of profits as bonus',
       'hourtemp to perm position', 'yearfull benefits package',
       'yearBenefits, Competitive Bonus, Relocation',
       'yearbonuses, relocation money, etc', 'yearQuarterly Bonuses',
       'hourplus commission and full benefits',
       'yearPlus Take home company vehicle, bonus opportunities,',
       'yearExcellent benefits and retirement', 'yearBonus potential 50%',
       'hourbonuses available for exceptional work',
       'yearmonthly car allowance', 'year6,000', 'yearHoliday bonus, OT',
       'hourbonuses', 'hourfull benefits, company vehicle and more',
       'yearVehicle +Gas card+Cell+Benefits+Ot after 8 hours worked',
       'yearCommissions also', 'yearHoliday & Vacation pay',
       'hourBenefits', 'hourHealth Care and Vacation Benefits',
       'hourMedical, Vacation, Holiday', 'yearOvertime',
       'hourBenefits and Overtime', 'hourCan increase with experience',
       'yearBonuses',
       'hourvehicle+ gas card+great benefits+ot after 8 hours worked per day+cell',
       'hourFull family medical, Paid Holidays',
       'yearHourly + OT with bonus potential',
       'yearSalary will be based on experience , Negoitable',
       'hourFlat rate', 'yearBonuses, 401K',
       'yearBonuses based on profitability',
       'hourDependent on experience, regular evaluations for raises',
       'yearplus bonuses', 'hourCommision and bonuses available',
       'yearplus benefits', 'yearplus relocation assistance, benefits',
       'hourOvertime and Benefits', 'year15% bonus',
       'yearemployee health care - contribution',
       'hourEligible for quarterly production bonus',
       'yearYear End Bonus',
       'houradditional shift premium where applicable',
       "hourFinal salary will be determined based on the selected candidate's experience and qualifications. Pay for current state employees will be based on the applicable pay transaction provisions of the Compensation Plan.",
       'yearannual bonus', 'yearcommissions, monthly bonus',
       'yearGenerous Paid Time Off, All holidays, Bonus, 401K with match, All Medical Dental & Vision Coverage, Life and AD&D Insurance, Retirement Plans, Flexible Spending Accounts, Transit Programs and much more.',
       'yearPlus COLA and Post Differential', 'hourNegotiable',
       'yearBonus Eligible',
       'yearplus $7k bonus and relocation assistance',
       'year10% Bonus great benefits', 'hourProduction Bonus',
       'yearAnnual Performance Bonus', 'yearVariable Bonus',
       'yearPlus bonuses', 'year20%', 'yearDOE', 'yearSome bonus',
       'yearRetirement, Health Care, Company Car, etc.',
       'yearDepending on experience',
       'yearbonus eligible, 401K, health benefits, holidays, vacation, meals',
       'yearPlus Bonus, Benefits and Relocation',
       'hourDirect Hire Position', 'yearProfit Sharing',
       'hourGreat Benefits', 'yearDOE - Negotiable',
       ' Vehicle Allowance ',
       'yearSalary commensurate with experience; share options possible for candidates with significant experience',
       'yearFull benefits package, yearly profit sharing bonus, 401k match and paid overnights',
       'yearBENNIES, ETC, PERKS,',
       'yearExcellent Benefits and Opportunities',
       'hourHeath and Retirement benefits',
       'yearExcellent benefits, relocation assistance if needed',
       'yearbonus based on profit and performance', ' Requirements',
       'yearTop benfits including MBA reimbursement',
       'hourCommission and incentive',
       '2%, Employee Stock Ownership Plan of company stock, Annual Incentive Payout',
       'year+ bonus + relocation', 'yeardepending upon experience',
       'yearBonuses, PTO & full health, dental and life ins.',
       'yearBenefits', 'yearCar allowance+Gas+Bonus+Cell+Laptop+Benefits',
       'yearBonus, 401k', 'hourPay is based off of experience',
       'year5,000-20,000 bonus and More', 'yearPlus Bonuses',
       'yearFull Benefits, Paid Vacation, Dining',
       'yearBonuses, Incentives, etc..',
       'year401K, Medical, Dental, Vision and More',
       'yearvery attainable bonuses',
       'yearSalary commensurate with experience',
       'hourFull non-contributory benefits package effective after 90 days of employment and 2 weeks paid vacation',
       'Benefits', 'yearBonus, Benefits', 'hourTips',
       'yearExcellent benefits', 'yearExcellent Benefits',
       'yearCommission', 'yearYearly Bonus',
       'year$50-60k Base + Commission and Bonuses', 'yearbonus up to 12%',
       'yearCommissions, Bonuses, Overtime', 'yearBonus and Comp plan',
       'year10,000-20,000', 'hourOT Available',
       'yearStarting base $40K or higher (based on experience) + Commission(negotiable)',
       'hourBONUSES', 'yeargreat bonus potential and full benefits',
       'hourFull benefits. Profit sharing.',
       'yearup to $60,000+ in commission',
       'yearThis will be for the first year and will change',
       'yearAggressive Base Pay + Bonus Structure',
       'yearHealth Insurance, Vacation', 'yearAdditional Spiffs',
       'yearSEP Bonus up to 25% of salary', 'yearFull Benefits Package',
       'yearGenerous commission structure on top of salary, $100k+ potential',
       'yearAggressive Weekly Base + Uncapped Commission',
       'yearPotential to earn $60,000 - $70,000', 'per daycommission',
       'hourPlus Commission', 'yearBase Pay + Uncapped Commission ',
       'hourAfter 60 day probationary period eligible for monthly bonus; benefits (medical, dental, vision, RX), 401K with company match, ESPP',
       'year401K matching, strong benefits',
       'yearYear end bonus to be determined',
       'hoursalary tbd @ 1-month review', 'hourPlus benefits (medical',
       'year40,000', 'yearQuarterly Incentive Bonus',
       'yearsalary, bonus and commision',
       'yearComprehensive Medical Benefits, Bonus Program and Much More!',
       'yearPlus Bonus and Benefits', 'HR with Bonus',
       'yearexcellent bonus opportunities and benefits',
       'yearbonus,nicentive',
       'yearSalary + $25,000 bonus - performance based, 401K, Medical, Dental, Vision and More',
       'yearplus bonuses & perks', 'yearBONUS', 'year\xa0',
       'yearComprehensive Benefits Package!', 'hour$750 Signing Bonus',
       'yearbonus potential in excess of $10,000',
       'yearBonus and Benefits', 'yearBonus (guaranteed first year)',
       'hourTipped Wages',
       'yearHourly rate or salary depends on expertise', 'yearBonus Plan',
       'year$750.00 RePerformance Bonus', 'yearmonthly bonus', 'hr',
       'yearquarterly bonus', 'hourPerformance bonuses available!',
       'negotiable', 'hourmore experience, more money',
       'year20 Hours a week!', 'yearBase plus monthly bonus',
       'yearplus aggressive monthly bonus', 'yearbonus,incentive based',
       'year2500.00 sign on bonus', 'hourDOE Generous Benefits',
       'yearHourly rate or salary depends on experience',
       'yearBonus potential up to $16,800',
       'yearcommiserated with experience plus benefits and bonus',
       'yearCommission Incentives', 'yearplus bonus opportunities',
       'yearCompetitive Commission plus Bonuses',
       'yearhealth insurance included',
       'yearBenefits + Bonus Packages, No Nights or Weekends',
       'per dayPer Class', 'yearBonus, health,401k',
       'year+ relocation + benefits',
       'hourHealth Insurance, Short Term Disability, Long Term Disability',
       'yearCommissions', 'yearbased on experience',
       'yearBonus potential', 'yearprofit sharing, bonus',
       'yearsalary plus uncapped commissions, paid expenses, 401k with company % match, medical and more',
       'Expenses',
       'yearGreat Benefits Package, Bonus potential, Interview Support',
       'hourpotential commissions with experience', 'hourMedical',
       'yearBonus based on company and personal performance',
       'week7-9% commisson depending on sales volume',
       'yearFull Benefits Package, Life Insurance, 401K, Relocation Support',
       'yearHighly Competitive Base Salary PLUS Lucrative Bonus Plan in a Highly Diverse, Dynamic, Successful Company! Performance Based Upward Mobility Assured.\u200b Do Not Hesitate, Apply Today and Grow with this Nationally Present Award Winning Restaurant Group!'],
      dtype=object)

In [512]:
df_sal_split[2].unique()
# Fron here stull we can obtein some benefits perhaps we can join the column one to four

array([nan, None, 'life insurance, 401K', 'Bonus', '401K',
       ' monthly performance bonus & commission', ' Incentives',
       'paid time off', 'Outlet', ' Bonus Structure', 'dental',
       'experience', 'Dental'], dtype=object)

In [513]:
df_sal_split['conditions'] = df_sal_split[1].astype(str)+' '+df_sal_split[2].astype(str)+' '+df_sal_split[3].astype(str)+' '+df_sal_split[4].astype(str)+' '+df_sal_split[5].astype(str)
df_sal_split.tail(10)

# We join columns split before in just one to manage the strings of conditions in a easier way

,0,1,2,3,4,5,conditions
uniq_id,,,,,,,
8e9f8638556bc1fd671bb99f4f01ac4d,"75,000.00 - 85,000.00 $",yearHighly Competitive Base Salary PLUS Lucrat...,None,None,None,None,yearHighly Competitive Base Salary PLUS Lucrat...
ebce61a714f4dd7d15b0263fab42751e,NaN,NaN,NaN,NaN,NaN,NaN,nan nan nan nan nan
8a36252a31d7b06e901be0596bb6501a,NaN,NaN,NaN,NaN,NaN,NaN,nan nan nan nan nan
a53be963aac0a938a50a4d4cf7bc3ca3,NaN,NaN,NaN,NaN,NaN,NaN,nan nan nan nan nan
1d37a888ca65fd919e459147a4c33457,NaN,NaN,NaN,NaN,NaN,NaN,nan nan nan nan nan
7502ee8f0d324f86334c531fa8bcf663,NaN,NaN,NaN,NaN,NaN,NaN,nan nan nan nan nan
9796e104240789dd33cc436f6c383892,NaN,NaN,NaN,NaN,NaN,NaN,nan nan nan nan nan
abd9ad3e0ec3c934b5a59f3776012865,NaN,NaN,NaN,NaN,NaN,NaN,nan nan nan nan nan
419a3714be2b30a10f628de207d041de,"45,000.00 - 60,000.00 $",year,None,None,None,None,year None None None None
40161cf61c283af9dc2b0a62947a5f1b,25.00 - 28.00 $,hour,None,None,None,None,hour None None None None

In [514]:
df_sal_split['conditions'].unique()

array(['nan nan nan nan nan', 'hour None None None None',
       'year None None None None', 'None None None None None',
       'yearBonus, Benefits, 401k None None None None',
       'yearsalary None None None None',
       'hourYear End Bonus None None None None',
       'yearHighly Competitive Base Salary Plus Lucrative Bonus Plan, Benefit Package, in a Highly Diverse, Very Successful Company! Performance Based Upward Mobility Assured.\u200b Do Not Hesitate, Apply Today.\u200b Grow with this Nationally Present, Dynamic Restaurant Group None None None None',
       'yearGenerous Commission plan None None None None',
       'hourPlus benefits None None None None',
       'hourBenefits Package None None None None',
       'yearBase + Uncapped Commissions + Benefits None None None None',
       'hourBenefits + Annual Bonus None None None None',
       'week None None None None',
       'Dental Benefits; 401k Employer Match None None None None',
       'yearbase salary plus bonus None None None None',
       'year+ profit sharing None None None None',
       'yearpackage None None None None',
       'yearPACKAGE None None None None',
       'yearbonus, tips and comp time None None None None',
       'year5 None None None None',
       'hourgenerous benefit package None None None None',
       'year$8,000 Recruitment Incentive Pay may be available. None None None None',
       'yearPTO, 401K None None None None',
       'hourBenefits (401K, Health Insurance) and bonuses are potentials None None None None',
       'yearHealth Benefits None None None None',
       'yearpaid time off, health life insurance, 401K None None None',
       'yearpaid training, Paid Time Off (PTO), Health and Dental insurance options, flexible scheduling, mileage reimbursement, cell phone stipend, laptop computer None None None None',
       'yearRelocation None None None None',
       'yearFull comprehensive benefits (PTO, Health, Dental, Vision, LTD, and 401K matching, etc) None None None None',
       'yearCTP None None None None',
       'yearFull benefits, 401k with company match. None None None None',
       'or Straight Commission None None None None',
       'yearSalary based upon professional experience, profit share benefits, Life benefits, Medical insurance None None None None',
       'yearMedical Benefits None None None None',
       'yearuncapped commission, full benefits, paid expenses None None None None',
       'hourHousing Discount, Commision Bonus None None None',
       'yearCommissions, Car Allowance, Bonus None None None None',
       'yearBenefits Package, Relocation Support None None None None',
       'yearCompetitive Benefits Package None None None None',
       'yearhigh bonus potential and full benefits package None None None None',
       'yearCompetitive Benefits Salary, Relocation Support None None None None',
       'yearQuarterly bonuses None None None None',
       "yearPlus Bonus' None None None None",
       'year+ bonus None None None None',
       'hourCompetitive wage rate and benefits package available to full time employees None None None None',
       'hourPlus Commissions, Possible quarterly bonus after 1 year None None None None',
       'yearBase + Commission None None None None',
       'yearauto allowance & benefits None None None None',
       'yearUncapped Commission, Bonus None None None None',
       'hourQuarterly Bonus None None None None',
       'hourBonuses available. Salary is DOE None None None None',
       'yearCommensurate with experience None None None None',
       'yearbonuses based upon performance None None None None',
       'yearbase + bonus None None None None',
       'hourhours flexible, salary negotiable None None None None',
       'hourHourly rate will be based on experience None None None None',
       'yearHealth care benifits provided None None None None',
       'yearBonus None None None None',
       'hourCompensation based on experience None None None None',
       'yearbonus None None None None',
       'hourHealth insurance available None None None None',
       'yearOT and bonus None None None None',
       'yearEnrollment in Firm Bonus Plan after 90 days. None None None None',
       'yearParking Provided by Employer None None None None',
       'yearPlus Bonus None None None None',
       'yearStipend for Health Insurance 401K None None None',
       'yearBonus eligible None None None None',
       'month None None None None',
       'yearPaid vacation & holiday None None None None',
       'yeardiscretionary salary and bonus None None None None',
       'hourBonus None None None None',
       'yearw  monthly performance bonus & commission None None None',
       'hourannual bonus available None None None None',
       'yearSalary $30,000 + Commissions + Benefits None None None None',
       'yearCommission, Auto Allowance, Telephone Allowance None None None None',
       'hourfull package None None None None',
       'yearPercentage of profits as bonus None None None None',
       'hourtemp to perm position None None None None',
       'yearfull benefits package None None None None',
       'yearBenefits, Competitive Bonus, Relocation None None None None',
       'yearbonuses, relocation money, etc None None None None',
       'yearQuarterly Bonuses None None None None',
       'hourplus commission and full benefits None None None None',
       'yearPlus Take home company vehicle, bonus opportunities, None None None None',
       'yearExcellent benefits and retirement None None None None',
       'yearBonus potential 50% None None None None',
       'hourbonuses available for exceptional work None None None None',
       'yearmonthly car allowance None None None None',
       'year6,000 None None None None',
       'yearHoliday bonus, OT None None None None',
       'hourbonuses None None None None',
       'hourfull benefits, company vehicle and more None None None None',
       'yearVehicle +Gas card+Cell+Benefits+Ot after 8 hours worked None None None None',
       'yearCommissions also None None None None',
       'yearHoliday & Vacation pay None None None None',
       'hourBenefits None None None None',
       'hourHealth Care and Vacation Benefits None None None None',
       'hourMedical, Vacation, Holiday None None None None',
       'yearOvertime None None None None',
       'hourBenefits and Overtime None None None None',
       'hourCan increase with experience None None None None',
       'yearBonuses None None None None',
       'hourvehicle+ gas card+great benefits+ot after 8 hours worked per day+cell None None None None',
       'hourFull family medical, Paid Holidays None None None None',
       'yearHourly + OT with bonus potential None None None None',
       'yearSalary will be based on experience , Negoitable None None None None',
       'hourFlat rate None None None None',
       'yearBonuses, 401K None None None None',
       'yearBonuses based on profitability None None None None',
       'hourDependent on experience, regular evaluations for raises None None None None',
       'yearplus bonuses None None None None',
       'hourCommision and bonuses available None None None None',
       'yearplus benefits None None None None',
       'yearplus relocation assistance, benefits None None None None',
       'hourOvertime and Benefits None None None None',
       'year15% bonus None None None None',
       'yearemployee health care - contribution None None None None',
       'hourEligible for quarterly production bonus None None None None',
       'yearYear End Bonus None None None None',
       'houradditional shift premium where applicable None None None None',
       "hourFinal salary will be determined based on the selected candidate's experience and qualifications. Pay for current state employees will be based on the applicable pay transaction provisions of the Compensation Plan. None None None None",
       'yearannual bonus None None None None',
       'yearcommissions, monthly bonus None None None None',
       'yearGenerous Paid Time Off, All holidays, Bonus, 401K with match, All Medical Dental & Vision Coverage, Life and AD&D Insurance, Retirement Plans, Flexible Spending Accounts, Transit Programs and much more. None None None None',
       'yearPlus COLA and Post Differential None None None None',
       'hourNegotiable None None None None',
       'yearBonus Eligible None None None None',
       'yearplus $7k bonus and relocation assistance None None None None',
       'year10% Bonus great benefits None None None None',
       'hourProduction Bonus None None None None',
       'yearAnnual Performance Bonus None None None None',
       'yearVariable Bonus None None None None',
       'yearPlus bonuses None None None None',
       'year20% None None None None', 'yearDOE None None None None',
       'yearSome bonus None None None None',
       'yearRetirement, Health Care, Company Car, etc. None None None None',
       'yearDepending on experience None None None None',
       'yearbonus eligible, 401K, health benefits, holidays, vacation, meals None None None None',
       'yearPlus Bonus, Benefits and Relocation None None None None',
       'hourDirect Hire Position None None None None',
       'yearProfit Sharing None None None None',
       'hourGreat Benefits None None None None',
       'yearDOE - Negotiable None None None None',
       ' Vehicle Allowance   Incentives None None None',
       'yearSalary commensurate with experience; share options possible for candidates with significant experience None None None None',
       'yearFull benefits package, yearly profit sharing bonus, 401k match and paid overnights None None None None',
       'yearBENNIES, ETC, PERKS, None None None None',
       'yearExcellent Benefits and Opportunities None None None None',
       'hourHeath and Retirement benefits None None None None',
       'yearExcellent benefits, relocation assistance if needed None None None None',
       'yearbonus based on profit and performance None None None None',
       ' Requirements None None None None',
       'yearTop benfits including MBA reimbursement None None None None',
       'hourCommission and incentive None None None None',
       '2%, Employee Stock Ownership Plan of company stock, Annual Incentive Payout None None None None',
       'year+ bonus + relocation None None None None',
       'yeardepending upon experience None None None None',
       'yearBonuses, PTO & full health, dental and life ins. None None None None',
       'yearBenefits paid time off None None None',
       'yearCar allowance+Gas+Bonus+Cell+Laptop+Benefits None None None None',
       'yearBonus, 401k None None None None',
       'hourPay is based off of experience None None None None',
       'year5,000-20,000 bonus and More None None None None',
       'yearPlus Bonuses None None None None',
       'yearFull Benefits, Paid Vacation, Dining Outlet Retail VIP Event Discounts None',
       'yearBonuses, Incentives, etc.. None None None None',
       'year401K, Medical, Dental, Vision and More None None None None',
       'yearvery attainable bonuses None None None None',
       'yearSalary commensurate with experience None None None None',
       'hourFull non-contributory benefits package effective after 90 days of employment and 2 weeks paid vacation None None None None',
       'Benefits None None None None',
       'yearBonus, Benefits None None None None',
       'hourTips None None None None',
       'yearExcellent benefits None None None None',
       'yearExcellent Benefits None None None None',
       'yearCommission None None None None',
       'yearYearly Bonus None None None None',
       'year$50-60k Base + Commission and Bonuses None None None None',
       'yearbonus up to 12% None None None None',
       'yearCommissions, Bonuses, Overtime None None None None',
       'yearBonus and Comp plan None None None None',
       'year10,000-20,000 None None None None',
       'hourOT Available None None None None',
       'yearStarting base $40K or higher (based on experience) + Commission(negotiable) None None None None',
       'hourBONUSES None None None None',
       'yeargreat bonus potential and full benefits None None None None',
       'hourFull benefits. Profit sharing. None None None None',
       'yearup to $60,000+ in commission None None None None',
       'yearThis will be for the first year and will change None None None None',
       'yearAggressive Base Pay + Bonus Structure None None None None',
       'yearHealth Insurance, Vacation None None None None',
       'yearAdditional Spiffs None None None None',
       'yearSEP Bonus up to 25% of salary None None None None',
       'yearFull Benefits Package None None None None',
       'yearGenerous commission structure on top of salary, $100k+ potential None None None None',
       'yearAggressive Weekly Base + Uncapped Commission None None None None',
       'yearPotential to earn $60,000 - $70,000 None None None None',
       'per daycommission None None None None',
       'hourPlus Commission None None None None',
       'yearBase Pay + Uncapped Commission   Bonus Structure None None None',
       'hourAfter 60 day probationary period eligible for monthly bonus; benefits (medical, dental, vision, RX), 401K with company match, ESPP None None None None',
       'year401K matching, strong benefits None None None None',
       'yearYear end bonus to be determined None None None None',
       'hoursalary tbd @ 1-month review None None None None',
       'hourPlus benefits (medical dental vision life 401k)',
       'year40,000 None None None None',
       'yearQuarterly Incentive Bonus None None None None',
       'yearsalary, bonus and commision None None None None',
       'yearComprehensive Medical Benefits, Bonus Program and Much More! None None None None',
       'yearPlus Bonus and Benefits None None None None',
       'HR with Bonus None None None None',
       'yearexcellent bonus opportunities and benefits None None None None',
       'yearbonus,nicentive None None None None',
       'yearSalary + $25,000 bonus - performance based, 401K, Medical, Dental, Vision and More None None None None',
       'yearplus bonuses & perks None None None None',
       'yearBONUS None None None None', 'year\xa0 None None None None',
       'yearComprehensive Benefits Package! None None None None',
       'hour$750 Signing Bonus None None None None',
       'yearbonus potential in excess of $10,000 None None None None',
       'yearBonus and Benefits None None None None',
       'yearBonus (guaranteed first year) None None None None',
       'hourTipped Wages None None None None',
       'yearHourly rate or salary depends on expertise experience None None None',
       'yearBonus Plan None None None None',
       'year$750.00 RePerformance Bonus None None None None',
       'yearmonthly bonus None None None None', 'hr None None None None',
       'yearquarterly bonus None None None None',
       'hourPerformance bonuses available! None None None None',
       'negotiable None None None None',
       'hourmore experience, more money None None None None',
       'year20 Hours a week! None None None None',
       'yearBase plus monthly bonus None None None None',
       'yearplus aggressive monthly bonus None None None None',
       'yearbonus,incentive based None None None None',
       'year2500.00 sign on bonus None None None None',
       'hourDOE Generous Benefits None None None None',
       'yearHourly rate or salary depends on experience None None None None',
       'yearBonus potential up to $16,800 None None None None',
       'yearcommiserated with experience plus benefits and bonus None None None None',
       'yearCommission Incentives None None None None',
       'yearplus bonus opportunities None None None None',
       'yearCompetitive Commission plus Bonuses None None None None',
       'yearhealth insurance included None None None None',
       'yearBenefits + Bonus Packages, No Nights or Weekends None None None None',
       'per dayPer Class None None None None',
       'yearBonus, health,401k None None None None',
       'year+ relocation + benefits None None None None',
       'hourHealth Insurance, Short Term Disability, Long Term Disability None None None None',
       'yearCommissions None None None None',
       'yearbased on experience None None None None',
       'yearBonus potential None None None None',
       'yearprofit sharing, bonus None None None None',
       'yearsalary plus uncapped commissions, paid expenses, 401k with company % match, medical and more None None None None',
       'Expenses 401K None None None',
       'yearGreat Benefits Package, Bonus potential, Interview Support None None None None',
       'hourpotential commissions with experience None None None None',
       'hourMedical Dental None None None',
       'yearBonus based on company and personal performance None None None None',
       'week7-9% commisson depending on sales volume None None None None',
       'yearFull Benefits Package, Life Insurance, 401K, Relocation Support None None None None',
       'yearHighly Competitive Base Salary PLUS Lucrative Bonus Plan in a Highly Diverse, Dynamic, Successful Company! Performance Based Upward Mobility Assured.\u200b Do Not Hesitate, Apply Today and Grow with this Nationally Present Award Winning Restaurant Group! None None None None'],
      dtype=object)

In [515]:
df_sal_split_= df_sal_split['conditions']
df_sal_split_

#Now lets take just the column that collects whole the information of conditions and benefits gaven by the companies

uniq_id
58435fcab804439efdcaa7ecca0fd783         nan nan nan nan nan
64d0272dc8496abfd9523a8df63c184c         nan nan nan nan nan
1e2637cb5f7a2c4615a99a26c0566c66         nan nan nan nan nan
a6a2b5e825b8ce1c3b517adb2497c5ed         nan nan nan nan nan
2f8bdf60db4d85627ab8f040e67aa78d         nan nan nan nan nan
                                              ...
7502ee8f0d324f86334c531fa8bcf663         nan nan nan nan nan
9796e104240789dd33cc436f6c383892         nan nan nan nan nan
abd9ad3e0ec3c934b5a59f3776012865         nan nan nan nan nan
419a3714be2b30a10f628de207d041de    year None None None None
40161cf61c283af9dc2b0a62947a5f1b    hour None None None None
Name: conditions, Length: 11847, dtype: object

In [516]:
df_sal_split_.shape

(11847,)

In [517]:
df_sal_range= df_sal_split[0].str.split('-',expand=True)
df_sal_range
#  Now we are gonna focus on column cero with the ranges of salary an later on we are going back to the condition column
# Here we create a split that give us agaon 4 columns but

                                           0              1     2     3
uniq_id
58435fcab804439efdcaa7ecca0fd783         NaN            NaN   NaN   NaN
64d0272dc8496abfd9523a8df63c184c         NaN            NaN   NaN   NaN
1e2637cb5f7a2c4615a99a26c0566c66         NaN            NaN   NaN   NaN
a6a2b5e825b8ce1c3b517adb2497c5ed         NaN            NaN   NaN   NaN
2f8bdf60db4d85627ab8f040e67aa78d         NaN            NaN   NaN   NaN
...                                      ...            ...   ...   ...
7502ee8f0d324f86334c531fa8bcf663         NaN            NaN   NaN   NaN
9796e104240789dd33cc436f6c383892         NaN            NaN   NaN   NaN
abd9ad3e0ec3c934b5a59f3776012865         NaN            NaN   NaN   NaN
419a3714be2b30a10f628de207d041de  45,000.00    60,000.00 $   None  None
40161cf61c283af9dc2b0a62947a5f1b      25.00        28.00 $   None  None

[11847 rows x 4 columns]

In [518]:
df_sal_range[0].unique()
# Here we manage to get the initial salary but it is messy with information of companies that don't like to say the salary for the possition

array([nan, '9.00 ', '80,000.00 ', '70,000.00 ', '68,000.00 ',
       '58,000.00 ', 'Up to $32000.00', 'Salary, plus commission',
       '45,000.00 ', '40,000.00 ', '13.75 ', '35,000.00 ',
       'bonus, 401K matching, medical, vacation', '31,000.00 ', '17.00 ',
       '56,000.00 ', '45.00 ', '75,000.00 ', 'Up to $45000.00', '0.00 ',
       'Negotiable based on experience', '60,000.00 ',
       'Competitive Wages', '50,000.00 ',
       'Burg Simpson offers excellent benefits and compensation commensurate with experience.',
       '$40,000.00+ ', 'Excellent compensation and benefits',
       '69,000.00 ', '15.00 ', '13.00 ', '25,000.00 ', '85,000.00 ',
       '10.00 ', '12.00 ', '11.85 ', '14.00 ',
       'Salary based on experience.', '$10.87+ ', '$12.00+ ', '30.93 ',
       '45,000.00+ ', '20.00 ', '13.45 ', '100,000.00 ', '55.00 ',
       '11.00 ', '16.00 ', '$16.40+ ', '90,000.00 ', '55,000.00 ',
       '$120,000.00+ ', '26.92 ', '$13.50+ ', '9.50 ', '19.50 ',
       '54,058.00 ', 'Competitive Base Salary + Commission', '35.00 ',
       '$4,000 Sign', '54,000.00 ', '$1,100.00+ ', '25.00 ', '100.00 ',
       '30.00 ', '72,000.00 ', 'Employee Health', '22.00+ ',
       '170,000.00 ', '75.00 ', '$50,000.00+ ', '70.00 ', '26.00 ',
       '\xa070,000.00 ', '\xa095,000.00 ', '120,000.00 ',
       '\xa075,000.00 ', '19.92 ', '65,000.00 ', '24.00 ', '175,000.00 ',
       '125,000.00 ', 'Salary negotiable based on experience',
       '*Excellent compensation and benefits package!*',
       '401K, Medical, Dental', '42,000.00 ', '115,000.00 ', '30,000.00 ',
       '15.50 ', '108,887.00 ', '95,000.00 ', 'Up to $18.00',
       'Up to $13.00', 'Up to $14.00',
       'Competitive Salary for General Dentists', 'Up to $15.00', '1.00 ',
       '43.00 ', 'bonuses', 'Compet Mrkt Rate', '36,000.00 ',
       'Up to $30000.00', '32,000.00 ', '51,708.80 ', '126,006.00 ',
       'Up to $10.00', '48.00 ', 'Base Salary + Bonuses', '50.00 ',
       '65.00 ', '84.00 ', 'NHSC Loan Repayment', '$70,000.00+ ', 'DOE',
       'Up to $13.50', 'Up to $31000.00', 'Up to $150000.00',
       '62,000.00 ', 'Based on experience', 'Up to $92000.00', 'Salary',
       '38.00 ', '40.00 ', '32,500.00 ', 'Up to $40.00', '$84,800.00+ ',
       'Excellent salary and generous bonus', 'Up to $55.00', 'Sign',
       'Up to $42.00', 'Competitive Compensation', '18.00 ', '$13.00+ ',
       '84,000.00 ', 'Up to $25.00', '28,000.00 ', '20.02 ', '64,000.00 ',
       '$50,627.00+ ', 'Salary commensurate with experience', '23.00 ',
       'Draw and', 'Up to $60000.00', '16.25 ',
       'Paid Days Off, Medical, Dental', '38,000.00 ',
       'Commensurate with Experience', 'plus incentive',
       'Salary, Commissions, Bonuses, Health Insurance, 401K with matching, Profit Sharing, AFLAC',
       '25.50 ', '150,000.00 ',
       'Salary Based on Sales Volume and Experience', '82,064.00 ',
       '33.00 ', '20.56 ', '22.50 ',
       'Salary: Commensurate with experience',
       'Competative Wages, health and life insurance; paid holidays and vacation; 401K',
       '$60,000.00+ ', 'Commensurate with experience', '60.00 ',
       '51,000.00 ', '16.74 ', 'Based on experience plus bonus',
       '48,000.00 ', '16.32 ', '110,000.00 ', '$16.50+ ',
       'Full Time Salary with Benefits',
       'We offer competitive salary and benefits.', 'Up to $35000.00',
       'Competitive Salary and Benefits', '130,000.00 ',
       'Up to $40000.00', '$35,000.00+ ', 'Up to $55000.00',
       'bonus based on work', '$62,717.00+ ',
       'Full time positions offer a full benefits package. Salary will commensurate with experience.',
       '135,000.00 ', '32.36 ', '29,000.00 ', '215,000.00+ ', 'Base plus',
       'Excellent Bonus programs', 'Based upon experience', '33,000.00 ',
       '27.50 ', 'Up to $65000.00', 'Great Salary and Benefits',
       'Excellent Salary and Benefit Package', 'Bonuses, merit raises',
       '$65,000.00+ ', 'Negotiable',
       'competitive compensation and benefits package', 'Up to $16.00',
       'Up to $125000.00', 'Up to $42000.00',
       'Salary commensurate with experience.', '$30,000.00+ ',
       'End of year discretionary bonus', 'Up to $20.00',
       'Terrific salary and benefits, including incentive bonuses',
       'Up to $50000.00', 'Health Insurance, retirement plan',
       'Submit Salary requirement', 'Salary Benefits and Possible Bonus',
       '140,000.00 ', 'Up to $58.00', '$33,000.00+ ', '4,362.39 ',
       'Base Salary Plus Commission', '$11.50+ ', '24.23 ',
       '$40,800.00+ ', '6.05 ', '\xa0', '14.74 ', '22.00 ', '13.00+ ',
       'Hourly Wage', '57,200.00 ', '$10.00+ ',
       'Health Insurance, 401k, PTO', '27.00 ', 'Up to $54000.00',
       '$10.50+ ', 'Up to $85000.00', '14.22 ', 'Salary plus commissions',
       '27,000.00 ', 'Up to $29.00',
       'Training Pay + Bonuses + Commission',
       'Salary Based on Experience, Salary plus bonuses', '20,000.00 ',
       '37,000.00 ', 'Up to $9.94',
       '• Generous salary aligned with experience', '10.75 ',
       '\xa085,000.00 ', '13.78 ',
       'Full Benefits, Bonus Structure & Annual Performance Reviews',
       '$25,000.00+ ', 'Up to $11.00', '200,000.00 ', '$51,446.00+ ',
       'Up to $19.24', '32.00 ', '122,000.00 ', 'negotiable',
       '155,000.00 ', 'Commensurate with experience and education',
       '63,400.00 ', '43,000.00 ', '40,600.00 ', '$14.00+ ', '37,200.00 ',
       'Hourly wage based on experience', 'Up to $90000.00',
       'Base + Commission= Total Compensation ($100K+)', '34.00+ ',
       '$85.00+ ', '26,000.00 ',
       'Excellent benefits package, Health, 401k', 'Benefits elegible',
       '600.00 ',
       'Compensation is based on experience, and owner makes decision',
       'Competitive plus relocation assistance', '12.50 ',
       'TO BE DETERMINED', 'Monthly bonuses based on achieving quotas',
       '83,496.00 ', '$14.50+ ', '$10.25+ ', '15.75 ', '21.00 ', '10.85 ',
       'Expected earnings $50k+', '$31,000.00+ ', 'Base + Bonus',
       '11.50 ', 'Competitive salary and benefits package',
       'Shift Differential Applies',
       'competitive salary along with a comprehensive benefits package',
       '14.50 ', '10.66 ', 'bonus eligible, shift differential', '17.34 ',
       '18.15 ', 'Hourly wages will depend on experience', '17.74 ',
       'Compunetics offers a competitive salary and benefits package.',
       '18.33 ', 'Up to $100000.00', 'Yearly Bonuses', '9.28 ', '19.00 ',
       'Eligible for monthly bonus',
       'Will be discussed during the interview',
       'Base pay plus aggressive incentive plan', '15.40 ', '15.99 ',
       '41,600.00 ', '71,988.00 ', 'Position is intended as a Temp',
       '19.65 ', '52,000.00 ', 'profit sharing', '$25.00+ ',
       'bonus eligible', '17.60 ', 'Up to $38000.00', 'Competitive Pay',
       'W', 'Excellent salary and bonus program', 'Up to $120000.00',
       '10.50 ', '$11.52+ ', '$8.74+ ',
       '"Best Employer" excellent compensation and benefits program',
       '13.10 ', '8.38 ', '10.21 ', '22.92 ', '31.00 ', '16.50 ',
       '28.56 ', '13.50 ', 'comissions and bonuses', '33.33 ', '$19.09+ ',
       '26,235.00 ', '50,793.60 ', '13.39 ', '28.00 ',
       'Base salary plus quarterly incentive bonus and car allowance',
       'Up to $12.00', 'Based on Applicable Experience', '$60,576.00+ ',
       'Salary with Benefits',
       '2 weeks paid vacation, 6 paid sick days, 10 paid holidays, full package',
       'Salary negotiable', '19.31 ', '22.43 ', '21.92 ', '17.87 ',
       '76,000.00 ', 'Competitive', '90,800.00 ', '\xa0100,000.00 ',
       '$75,000.00+ ', 'Bonus plan available for the right person!',
       '23.50 ', 'Dependent on Experience',
       'Competitive, commensurate with market and experience',
       'Full time Salary', 'Negoiable DOE', '15.65 ', 'competitive pay',
       '71,079.00 ', 'eligible for bonus, profit sharing and equity',
       'Based on Experience', 'Salary to commensurate with experience.',
       'Salary Commensurate with Experience',
       'Salary dependent upon experience',
       'Benefits include health insurance, dental, vision, vacation, bonus',
       '73,500.00 ', 'Competitive Compensation Package', '5,882.93 ',
       '85,000.00+ ', 'Salary plus Bonus', '160,000.00 ',
       'We offer competitive salary and benefits', '16.00+ ',
       'Competitive salary, benefits, bonus', 'Commissions,bonus',
       '34.00 ', '$45,611.00+ ', 'Based on Qualifications and experience',
       'Full medical, dental, vision coverage; 401K, Life Insurance policy',
       'Expenses ', '$40,673.00+ ', 'Bonus', 'Competitive Salary',
       'Concorde Battery offers a competitive salary and benefits.',
       'Salary based on experience of applicant', '41,000.00 ',
       'salary comm. with experience',
       'DOE, Medical, Dental, Vision, 401K, Annual Bonus', '19.13 ',
       'Up to $52000.00', '$15.12+ ', 'Excellent Benefits', '61,000.00 ',
       'Bonuses', 'Send Salary History ', 'Perm with benifits',
       '83,200.00 ', '12.92 ', '401k match up to 7 1', '15.60 ',
       'Compensation will commensurate with experience', '107,000.00 ',
       '6,401.00 ', '28.55 ', 'Competitive salary based on experience',
       'Salary, Bonus & Benefits Based on Experience',
       'We offer terrific career opportunities, competitive compensation and comprehensive benefits',
       'Paid Vacations, Health Care Benefits, 401K',
       'Excellent Benefits Plan & Career Advancement', 'Hourly plus tips',
       'Hourly wage based on experience level', '7.50 ', '47,000.00 ',
       'Salary w', '$9.00+ ', '8.00 ', '8.50 ', '$12.50+ ', '10.15 ',
       '145,000.00 ', '53,286.00 ', '95,000.00+ ', '80,000.00+ ',
       '70,000.00+ ', '$72k', 'Competitive Base PLUS Profit Sharing',
       '31,054.00 ', '13.00', 'Commissions based on sales',
       '$150,000.00+ ', '40,000.00+ ', '39,000.00+ ',
       'Competitive salary and benefits', '+Bonuses + Benefits',
       'Hourly Plus Commissions', 'Based on experience ',
       'Attractive Bonus Potential and Great Benefits', '$44,000.00+ ',
       '8.00', 'Full Commission, Base plus options',
       'Base + commission that can double or triple your income',
       '110,000.00+ ', '$15.00+ ', 'Base + Commission Plan', 'Salary DOE',
       '$12.50', '4,900.00 ', '12.50',
       'Competitive salary, with performance bonus', '38,000.00+ ',
       'Base + Commission', '100,000.00+ ',
       'Competitive base salary and bonus', '33,280.00 ', '150.00 ',
       'Very Attractive Bonus Potential',
       'Salary based upon experience (Base + Bonus)', 'Commission',
       '$13.50 to $14.00 depending upon experien',
       'Base pay + Commissions or Commissions + Bonus', '$18.00+ ',
       '42.00 ', '6,000.00 ', '14.00+ ', '52.00 ', '43,000.00+ ',
       '16.89+ ', 'Compeitive', 'Top Pay & Benefits Package',
       'Relocation and Full Benefits', '$75', '39,000.00 ',
       'Competitive Pay with benefits',
       'Competitive Wage, Performance Bonus, Incentive Contest Bonus',
       'gratuities', 'Generous Salary ++', 'Bonus plan',
       'Salary based on experience and skill level', '$5.03+ ',
       '66,000.00 ', 'Competitive Pay & Benefits Package', '24,000.00 ',
       '42,848.00 ', 'Hourly Rate and Cash Tips every shift ',
       '34,000.00 ', '98,239.20 ', '$1000 HIRING BONUS',
       'based on experience', 'PTO', '$24.00+ ',
       'Paid vacation, sick leave, and holidays, CEU Reimbursement and health insurance stipend. Flexible work schedule considered, with a negotiable salary',
       '$18,500.00+ ', 'Comensurate with experience', '60,220.00 ',
       '$8.05+ ', '$45,000.00+ ', '$20.00+ ',
       'Salary based on relevant experience',
       'Base Salary + Commission. Additonal compensation to be discussed',
       'Productivity bonuses!', '63,000.00 ', '$32.00+ ', 'incentive pay',
       '30,876.00 ', 'Based on Performance', '$11.00+ ', '26.47 ',
       '44,000.00+ ', '10.00+ ', '12.75 ', '32,000.00+ ', '31,200.00+ ',
       '22.47 ', 'Base Salary plus Commisions', 'Salary plus commission',
       '900.00 ', '42,436.00 ', '19.88 ', 'Up to $31500.00', 'TBD',
       'Hourly plus gratuities',
       'Competitive wage plus benefits: medical, dental, visioin, life, 401k, profit sharing',
       '$29,000.00+ ', 'Unlimited commission potential and bonuses',
       'Competitive Salary and Benefits Package available to full time employees',
       'Base+Commission+Benefits+Car',
       'Competitive base salary, bonus, benefits & more!',
       'Base plus commission', 'Uncapped commissions', '11.75 ', '23.25 ',
       '$250.00+ '], dtype=object)

In [519]:
df_sal_range[1].unique()
# In column 1 we find the final salary for the possition that was offered
# There is alsa a character '$' that is no useful in this column

array([nan, ' 13.00 $ ', ' 95,000.00 $ ', ' 100,000.00 $ ',
       ' 72,000.00 $ ', ' 65,000.00 $ ', None, ' 50,000.00 $ ',
       ' 16.75 $ ', ' 45,000.00 $ ', ' 33,000.00 $ ', ' 22.00 $ ',
       ' 64,000.00 $ ', ' 50.00 $ ', ' 130,000.00 $ ', ' 85,000.00 $ ',
       ' 110,000.00 $ ', ' 101,000.00 $ ', ' 19.00 $ ', ' 21.00 $ ',
       ' 16.00 $ ', ' 57,000.00 $ ', ' 17.00 $ ', ' 80,000.00 $ ',
       ' 60,000.00 $ ', ' 11.00 $ ', ' 90,000.00 $ ', ' 14.00 $ ',
       ' 11.85 $ ', ' 30.93 $ ', ' 23.00 $ ', ' 12.25 $ ', ' 13.45 $ ',
       ' 130,000.00 ', ' 50,000.00 ', ' 65.00 $ ', ' 17.00 ',
       ' 85,000.00 ', ' 15.00 $ ', ' 105,000.00 ', ' 26.92 $ ',
       ' 21.90 $ ', ' 75,000.00 $ ', ' 18.00 $ ', ' 100,000.00 ',
       ' 19.50 $ ', ' 79,174.00 $ ', ' 19.00 ', ' 55,000.00 $ ',
       'On Bonus', ' 66,000.00 $ ', ' 15.00 ', ' 35.00 $ ', ' 120.00 $ ',
       ' 200,000.00 $ ', ' 20.00 $ ', ' 100.00 $ ', ' 75.00 $ ',
       ' 80.00 $ ', ' 220,000.00 $ ', ' 32.00 $ ', ' 12.00 $ ',
       ' 105,000.00 $ ', ' 26.00 $ ', ' 140,000.00 $ ', ' 33.00 $ ',
       ' 19.92 $ ', ' 55.00 ', ' 24.00 $ ', ' 120,000.00 ',
       ' 175,000.00 $ ', ' 70,000.00 $ ', ' 125,000.00 ', ' 175,000.00 ',
       ' 85.00 $ ', ' 125,000.00 $ ', ' 40,000.00 $ ', ' 40.00 $ ',
       ' 48,000.00 $ ', ' 120,000.00 $ ', ' 124,500.00 $ ',
       ' 150,000.00 $ ', ' 141,555.00', ' 115,000.00 $ ', ' 30,000.00 $ ',
       ' 110.00 $ ', ' 2.00 $ ', ' 35,000.00 $ ', ' 46.00 $ ',
       ' 38,000.00 $ ', ' 42,000.00 $ ', ' 81,475.47 $ ',
       ' 141,773.00 $ ', ' 13.75 $ ', ' 55.00 $ ', ' 135,000.00 $ ',
       ' 25.00 $ ', ' 70.00 $ ', ' 87.50 $ ', ' 78,000.00 $ ',
       ' 60.00 $ ', ' 44.00 $ ', ' 45.00 $ ', ' 33,800.00 $ ', ' 1.00 $ ',
       ' 52,000.00 $ ', 'On Bonus and Relocation Available',
       ' 104,000.00 $ ', ' 32,000.00 $ ', ' 20.02 $ ', ' 16.25 $ ',
       ' 25.50 $ ', ' 155,000.00 $ ', ' 106,683.00 $ ', ' 24.81 $ ',
       ' 22.50 $ ', ' 51,000.00 $ ', ' 26.78 $ ', ' 54,000.00 $ ',
       ' 18.37 $ ', ' 151,000.00 $ ', ' 30.00 $ ', ' 15.50 $ ',
       ' 32.36 $ ', ' 35,500.00 $ ', ' 300,000.00 $ ', ' 160,000.00 $ ',
       ' 5,445.57 $ ', ' 32.00 ', ' 40,000.00 ', ' 65,000.00 ',
       ' 29.86 $ ', ' 14.74 $ ', ' 39.00 $ ', ' 185,000.00 $ ',
       ' 62,400.00 $ ', ' 27.36 $ ', ' 16.36 $ ', ' 960.00 $ \xa0bi',
       ' 29,000.00 $ ', ' 10.75 $ ', ' 16.60 $ ', ' 350,000.00 $ ',
       ' 22.15 $ ', ' 36.00 $ ', ' 153,000.00 $ ', ' 180,000.00 $ ',
       ' 86,858.00 $ ', ' 43,000.00 $ ', ' 67,600.00 $ ', ' 50,300.00 $ ',
       ' 38.00 $ ', ' 11.75 $ ', ' 800.00 $ ', ' 8.50 $ ', ' 13.50 $ ',
       ' 36,000.00 $ ', ' 96,660.00 $ ', ' 31.00 $ ', ' 68,000.00 $ ',
       ' 12.00 ', ' 12.50 $ ', ' 14.50 $ ', ' 12.54 ', ' 20.62 $ ',
       ' 19.15 $ ', ' 11.50 $ ', ' 26.13 $ ', ' 27.51 $ ', ' 29.50 $ ',
       ' 15.40 $ ', ' 23.98 $ ', ' 83,340.00 $ ', 'to', ' 9.00 $ ',
       ' 28.00 $ ', ' 20.65 $ ', ' 17.60 $ ', ' 17.50 $ ',
       '2, Weekly Paycheck, Great Compensation Package and Incentives',
       ' 12.55 $ ', ' 10.00 $ ', ' 16.20 $ ', ' 12.01', ' 26.95 $ ',
       ' 46,000.00 $ ', ' 35.00 ', ' 54.00 $ ', ' 43.83 $ ',
       ' 114,000.00 $ ', ' 37,000.00 $ ', ' 45.30 $ ', ' 31,075.00 $ ',
       ' 64,771.20 $ ', ' 500,000.00 $ ', ' 19.42 $ ', ' 118,000.00 $ ',
       ' 84,000.00 $ ', ' 125.00 $ ', ' 27.00 $ ', ' 19.31 $ ',
       ' 22.43 $ ', ' 21.92 $ ', ' 17.87 $ ', ' 76,000.00 $ ',
       ' 99,285.00 $ ', ' 28,500.00 $ ', ' 23.50 $ ', ' 43.00 $ ',
       ' 20.15 $ ', ' 109,839.00 $ ', ' 87,000.00 $ ', ' 110,300.00 $ ',
       ' 7,883.20 $ ', ' 42,500.00 $ ', ' 98,000.00 $ ', ' 43.75 $ ',
       ' 73,000.00 $ ', ' 58,000.00 $ ', ' 41,000.00 $ ', ' 24.84 $ ',
       ' 75,000.00 ', ' 16.50 $ ', ' 144,400.00 $ ', ' 17.19 $ ',
       ' 15.60 $ ', ' 62,000.00 $ ', ' 60,000.00 ', ' 7,935.00 $ ',
       ' 28.55 $ ', ' 900,000.00 $ ', ' 56,000.00 $ ', ' 7.50 $ ',
       ' 10.65 $ ', ' 62,000.00 ', ' 58,553.00 $ ', ' 21.00 ',
       '$100k Commissions', ' 47,000.00 $ ', ' 250,000.00 $ ',
       ' 31,054.00 $', ' Please apply in pe', ' 29.00 $ ', ' 25.00 ',
       '13.00', ' 6,125.00 $ ', ' 20.00 ', ' 14.00 ', ' 300.00 $ ',
       ' 32.50 $ ', ' 60,000.00 $', ' 48.00 $ ', ' 10,000.00 $ ',
       ' 56,000.00 ', ' 57.00 $ ', ' 145,000.00 $ ', ' 49.00 $ ',
       ' 165,000.00 $ ', ' 27.82 $ ', ' 14.78 $ ', ' 61,547.00 $ ',
       ' this can equal out to $18', ' 162,070.40 $ ', ' 60,220.00 $ ',
       ' 38,500.00 $ ', ' 31,000.00 $ ', ' 18.00 ', ' 0.01 $ ',
       ' 36,173.00 $ ', ' 14.42 ', ' 39.50 $ ', ' 26.47 $ ',
       ' 31,000.00 ', ' 15.64 $ ', ' 13.00 ', ' 16.00 ', ' 55,000.00 ',
       ' 24.00 ', ' 44,000.00 $ ', ' 26,000.00 $ ', ' 22.00 ',
       ' 422.47 $ ', ' 1,200.00 $ ', ' 42,436.00 $ ', ' 19.88 $ ',
       ' 14.75 $ ', ' 195,000.00 $ ', ' 63,000.00 $ ', ' 18.50 $ ',
       ' 12.75 $ ', ' 25.21 $ '], dtype=object)

In [520]:
#df_sal_range_ = pd.DataFrame(columns=['initial_sal','final_sal'])
#df_sal_range_

df_sal_range_ = df_sal_range.loc[:,0:1].rename(columns={0:'initial_sal',1:'final_sal'})
df_sal_range_
# What we do here is just taking the columns we consider important for the dataser to be analyse later

                                 initial_sal      final_sal
uniq_id
58435fcab804439efdcaa7ecca0fd783         NaN            NaN
64d0272dc8496abfd9523a8df63c184c         NaN            NaN
1e2637cb5f7a2c4615a99a26c0566c66         NaN            NaN
a6a2b5e825b8ce1c3b517adb2497c5ed         NaN            NaN
2f8bdf60db4d85627ab8f040e67aa78d         NaN            NaN
...                                      ...            ...
7502ee8f0d324f86334c531fa8bcf663         NaN            NaN
9796e104240789dd33cc436f6c383892         NaN            NaN
abd9ad3e0ec3c934b5a59f3776012865         NaN            NaN
419a3714be2b30a10f628de207d041de  45,000.00    60,000.00 $
40161cf61c283af9dc2b0a62947a5f1b      25.00        28.00 $

[11847 rows x 2 columns]

In [521]:
df2 = pd.DataFrame(df_sal_split_)
df3 = pd.DataFrame(df_sal_range_)

# We have to give pandas formart to the series of objects that we create before

df_salaries = df2.join(df3, how='left')
df_salaries
#No we df_salaries the two past datasets that split in order to clean the structure of this salary column
#As we can see we create:
# sal_conditions = conditions of the salary
# sal_from = intitial salary
# sal_to = final salary

# But..... still there is something wrong about this chunck of dataset in sal_to column, Can you see it?

,conditions,initial_sal,final_sal
uniq_id,,,
58435fcab804439efdcaa7ecca0fd783,nan nan nan nan nan,NaN,NaN
64d0272dc8496abfd9523a8df63c184c,nan nan nan nan nan,NaN,NaN
1e2637cb5f7a2c4615a99a26c0566c66,nan nan nan nan nan,NaN,NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,nan nan nan nan nan,NaN,NaN
2f8bdf60db4d85627ab8f040e67aa78d,nan nan nan nan nan,NaN,NaN
...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,nan nan nan nan nan,NaN,NaN
9796e104240789dd33cc436f6c383892,nan nan nan nan nan,NaN,NaN
abd9ad3e0ec3c934b5a59f3776012865,nan nan nan nan nan,NaN,NaN
419a3714be2b30a10f628de207d041de,year None None None None,"45,000.00","60,000.00 $"
40161cf61c283af9dc2b0a62947a5f1b,hour None None None None,25.00,28.00 $

In [522]:
df_salaries['initial_sal'].unique()
# Now lets clean the first_sal column by taking out the strings

array([nan, '9.00 ', '80,000.00 ', '70,000.00 ', '68,000.00 ',
       '58,000.00 ', 'Up to $32000.00', 'Salary, plus commission',
       '45,000.00 ', '40,000.00 ', '13.75 ', '35,000.00 ',
       'bonus, 401K matching, medical, vacation', '31,000.00 ', '17.00 ',
       '56,000.00 ', '45.00 ', '75,000.00 ', 'Up to $45000.00', '0.00 ',
       'Negotiable based on experience', '60,000.00 ',
       'Competitive Wages', '50,000.00 ',
       'Burg Simpson offers excellent benefits and compensation commensurate with experience.',
       '$40,000.00+ ', 'Excellent compensation and benefits',
       '69,000.00 ', '15.00 ', '13.00 ', '25,000.00 ', '85,000.00 ',
       '10.00 ', '12.00 ', '11.85 ', '14.00 ',
       'Salary based on experience.', '$10.87+ ', '$12.00+ ', '30.93 ',
       '45,000.00+ ', '20.00 ', '13.45 ', '100,000.00 ', '55.00 ',
       '11.00 ', '16.00 ', '$16.40+ ', '90,000.00 ', '55,000.00 ',
       '$120,000.00+ ', '26.92 ', '$13.50+ ', '9.50 ', '19.50 ',
       '54,058.00 ', 'Competitive Base Salary + Commission', '35.00 ',
       '$4,000 Sign', '54,000.00 ', '$1,100.00+ ', '25.00 ', '100.00 ',
       '30.00 ', '72,000.00 ', 'Employee Health', '22.00+ ',
       '170,000.00 ', '75.00 ', '$50,000.00+ ', '70.00 ', '26.00 ',
       '\xa070,000.00 ', '\xa095,000.00 ', '120,000.00 ',
       '\xa075,000.00 ', '19.92 ', '65,000.00 ', '24.00 ', '175,000.00 ',
       '125,000.00 ', 'Salary negotiable based on experience',
       '*Excellent compensation and benefits package!*',
       '401K, Medical, Dental', '42,000.00 ', '115,000.00 ', '30,000.00 ',
       '15.50 ', '108,887.00 ', '95,000.00 ', 'Up to $18.00',
       'Up to $13.00', 'Up to $14.00',
       'Competitive Salary for General Dentists', 'Up to $15.00', '1.00 ',
       '43.00 ', 'bonuses', 'Compet Mrkt Rate', '36,000.00 ',
       'Up to $30000.00', '32,000.00 ', '51,708.80 ', '126,006.00 ',
       'Up to $10.00', '48.00 ', 'Base Salary + Bonuses', '50.00 ',
       '65.00 ', '84.00 ', 'NHSC Loan Repayment', '$70,000.00+ ', 'DOE',
       'Up to $13.50', 'Up to $31000.00', 'Up to $150000.00',
       '62,000.00 ', 'Based on experience', 'Up to $92000.00', 'Salary',
       '38.00 ', '40.00 ', '32,500.00 ', 'Up to $40.00', '$84,800.00+ ',
       'Excellent salary and generous bonus', 'Up to $55.00', 'Sign',
       'Up to $42.00', 'Competitive Compensation', '18.00 ', '$13.00+ ',
       '84,000.00 ', 'Up to $25.00', '28,000.00 ', '20.02 ', '64,000.00 ',
       '$50,627.00+ ', 'Salary commensurate with experience', '23.00 ',
       'Draw and', 'Up to $60000.00', '16.25 ',
       'Paid Days Off, Medical, Dental', '38,000.00 ',
       'Commensurate with Experience', 'plus incentive',
       'Salary, Commissions, Bonuses, Health Insurance, 401K with matching, Profit Sharing, AFLAC',
       '25.50 ', '150,000.00 ',
       'Salary Based on Sales Volume and Experience', '82,064.00 ',
       '33.00 ', '20.56 ', '22.50 ',
       'Salary: Commensurate with experience',
       'Competative Wages, health and life insurance; paid holidays and vacation; 401K',
       '$60,000.00+ ', 'Commensurate with experience', '60.00 ',
       '51,000.00 ', '16.74 ', 'Based on experience plus bonus',
       '48,000.00 ', '16.32 ', '110,000.00 ', '$16.50+ ',
       'Full Time Salary with Benefits',
       'We offer competitive salary and benefits.', 'Up to $35000.00',
       'Competitive Salary and Benefits', '130,000.00 ',
       'Up to $40000.00', '$35,000.00+ ', 'Up to $55000.00',
       'bonus based on work', '$62,717.00+ ',
       'Full time positions offer a full benefits package. Salary will commensurate with experience.',
       '135,000.00 ', '32.36 ', '29,000.00 ', '215,000.00+ ', 'Base plus',
       'Excellent Bonus programs', 'Based upon experience', '33,000.00 ',
       '27.50 ', 'Up to $65000.00', 'Great Salary and Benefits',
       'Excellent Salary and Benefit Package', 'Bonuses, merit raises',
       '$65,000.00+ ', 'Negotiable',
       'competitive compensation and benefits package', 'Up to $16.00',
       'Up to $125000.00', 'Up to $42000.00',
       'Salary commensurate with experience.', '$30,000.00+ ',
       'End of year discretionary bonus', 'Up to $20.00',
       'Terrific salary and benefits, including incentive bonuses',
       'Up to $50000.00', 'Health Insurance, retirement plan',
       'Submit Salary requirement', 'Salary Benefits and Possible Bonus',
       '140,000.00 ', 'Up to $58.00', '$33,000.00+ ', '4,362.39 ',
       'Base Salary Plus Commission', '$11.50+ ', '24.23 ',
       '$40,800.00+ ', '6.05 ', '\xa0', '14.74 ', '22.00 ', '13.00+ ',
       'Hourly Wage', '57,200.00 ', '$10.00+ ',
       'Health Insurance, 401k, PTO', '27.00 ', 'Up to $54000.00',
       '$10.50+ ', 'Up to $85000.00', '14.22 ', 'Salary plus commissions',
       '27,000.00 ', 'Up to $29.00',
       'Training Pay + Bonuses + Commission',
       'Salary Based on Experience, Salary plus bonuses', '20,000.00 ',
       '37,000.00 ', 'Up to $9.94',
       '• Generous salary aligned with experience', '10.75 ',
       '\xa085,000.00 ', '13.78 ',
       'Full Benefits, Bonus Structure & Annual Performance Reviews',
       '$25,000.00+ ', 'Up to $11.00', '200,000.00 ', '$51,446.00+ ',
       'Up to $19.24', '32.00 ', '122,000.00 ', 'negotiable',
       '155,000.00 ', 'Commensurate with experience and education',
       '63,400.00 ', '43,000.00 ', '40,600.00 ', '$14.00+ ', '37,200.00 ',
       'Hourly wage based on experience', 'Up to $90000.00',
       'Base + Commission= Total Compensation ($100K+)', '34.00+ ',
       '$85.00+ ', '26,000.00 ',
       'Excellent benefits package, Health, 401k', 'Benefits elegible',
       '600.00 ',
       'Compensation is based on experience, and owner makes decision',
       'Competitive plus relocation assistance', '12.50 ',
       'TO BE DETERMINED', 'Monthly bonuses based on achieving quotas',
       '83,496.00 ', '$14.50+ ', '$10.25+ ', '15.75 ', '21.00 ', '10.85 ',
       'Expected earnings $50k+', '$31,000.00+ ', 'Base + Bonus',
       '11.50 ', 'Competitive salary and benefits package',
       'Shift Differential Applies',
       'competitive salary along with a comprehensive benefits package',
       '14.50 ', '10.66 ', 'bonus eligible, shift differential', '17.34 ',
       '18.15 ', 'Hourly wages will depend on experience', '17.74 ',
       'Compunetics offers a competitive salary and benefits package.',
       '18.33 ', 'Up to $100000.00', 'Yearly Bonuses', '9.28 ', '19.00 ',
       'Eligible for monthly bonus',
       'Will be discussed during the interview',
       'Base pay plus aggressive incentive plan', '15.40 ', '15.99 ',
       '41,600.00 ', '71,988.00 ', 'Position is intended as a Temp',
       '19.65 ', '52,000.00 ', 'profit sharing', '$25.00+ ',
       'bonus eligible', '17.60 ', 'Up to $38000.00', 'Competitive Pay',
       'W', 'Excellent salary and bonus program', 'Up to $120000.00',
       '10.50 ', '$11.52+ ', '$8.74+ ',
       '"Best Employer" excellent compensation and benefits program',
       '13.10 ', '8.38 ', '10.21 ', '22.92 ', '31.00 ', '16.50 ',
       '28.56 ', '13.50 ', 'comissions and bonuses', '33.33 ', '$19.09+ ',
       '26,235.00 ', '50,793.60 ', '13.39 ', '28.00 ',
       'Base salary plus quarterly incentive bonus and car allowance',
       'Up to $12.00', 'Based on Applicable Experience', '$60,576.00+ ',
       'Salary with Benefits',
       '2 weeks paid vacation, 6 paid sick days, 10 paid holidays, full package',
       'Salary negotiable', '19.31 ', '22.43 ', '21.92 ', '17.87 ',
       '76,000.00 ', 'Competitive', '90,800.00 ', '\xa0100,000.00 ',
       '$75,000.00+ ', 'Bonus plan available for the right person!',
       '23.50 ', 'Dependent on Experience',
       'Competitive, commensurate with market and experience',
       'Full time Salary', 'Negoiable DOE', '15.65 ', 'competitive pay',
       '71,079.00 ', 'eligible for bonus, profit sharing and equity',
       'Based on Experience', 'Salary to commensurate with experience.',
       'Salary Commensurate with Experience',
       'Salary dependent upon experience',
       'Benefits include health insurance, dental, vision, vacation, bonus',
       '73,500.00 ', 'Competitive Compensation Package', '5,882.93 ',
       '85,000.00+ ', 'Salary plus Bonus', '160,000.00 ',
       'We offer competitive salary and benefits', '16.00+ ',
       'Competitive salary, benefits, bonus', 'Commissions,bonus',
       '34.00 ', '$45,611.00+ ', 'Based on Qualifications and experience',
       'Full medical, dental, vision coverage; 401K, Life Insurance policy',
       'Expenses ', '$40,673.00+ ', 'Bonus', 'Competitive Salary',
       'Concorde Battery offers a competitive salary and benefits.',
       'Salary based on experience of applicant', '41,000.00 ',
       'salary comm. with experience',
       'DOE, Medical, Dental, Vision, 401K, Annual Bonus', '19.13 ',
       'Up to $52000.00', '$15.12+ ', 'Excellent Benefits', '61,000.00 ',
       'Bonuses', 'Send Salary History ', 'Perm with benifits',
       '83,200.00 ', '12.92 ', '401k match up to 7 1', '15.60 ',
       'Compensation will commensurate with experience', '107,000.00 ',
       '6,401.00 ', '28.55 ', 'Competitive salary based on experience',
       'Salary, Bonus & Benefits Based on Experience',
       'We offer terrific career opportunities, competitive compensation and comprehensive benefits',
       'Paid Vacations, Health Care Benefits, 401K',
       'Excellent Benefits Plan & Career Advancement', 'Hourly plus tips',
       'Hourly wage based on experience level', '7.50 ', '47,000.00 ',
       'Salary w', '$9.00+ ', '8.00 ', '8.50 ', '$12.50+ ', '10.15 ',
       '145,000.00 ', '53,286.00 ', '95,000.00+ ', '80,000.00+ ',
       '70,000.00+ ', '$72k', 'Competitive Base PLUS Profit Sharing',
       '31,054.00 ', '13.00', 'Commissions based on sales',
       '$150,000.00+ ', '40,000.00+ ', '39,000.00+ ',
       'Competitive salary and benefits', '+Bonuses + Benefits',
       'Hourly Plus Commissions', 'Based on experience ',
       'Attractive Bonus Potential and Great Benefits', '$44,000.00+ ',
       '8.00', 'Full Commission, Base plus options',
       'Base + commission that can double or triple your income',
       '110,000.00+ ', '$15.00+ ', 'Base + Commission Plan', 'Salary DOE',
       '$12.50', '4,900.00 ', '12.50',
       'Competitive salary, with performance bonus', '38,000.00+ ',
       'Base + Commission', '100,000.00+ ',
       'Competitive base salary and bonus', '33,280.00 ', '150.00 ',
       'Very Attractive Bonus Potential',
       'Salary based upon experience (Base + Bonus)', 'Commission',
       '$13.50 to $14.00 depending upon experien',
       'Base pay + Commissions or Commissions + Bonus', '$18.00+ ',
       '42.00 ', '6,000.00 ', '14.00+ ', '52.00 ', '43,000.00+ ',
       '16.89+ ', 'Compeitive', 'Top Pay & Benefits Package',
       'Relocation and Full Benefits', '$75', '39,000.00 ',
       'Competitive Pay with benefits',
       'Competitive Wage, Performance Bonus, Incentive Contest Bonus',
       'gratuities', 'Generous Salary ++', 'Bonus plan',
       'Salary based on experience and skill level', '$5.03+ ',
       '66,000.00 ', 'Competitive Pay & Benefits Package', '24,000.00 ',
       '42,848.00 ', 'Hourly Rate and Cash Tips every shift ',
       '34,000.00 ', '98,239.20 ', '$1000 HIRING BONUS',
       'based on experience', 'PTO', '$24.00+ ',
       'Paid vacation, sick leave, and holidays, CEU Reimbursement and health insurance stipend. Flexible work schedule considered, with a negotiable salary',
       '$18,500.00+ ', 'Comensurate with experience', '60,220.00 ',
       '$8.05+ ', '$45,000.00+ ', '$20.00+ ',
       'Salary based on relevant experience',
       'Base Salary + Commission. Additonal compensation to be discussed',
       'Productivity bonuses!', '63,000.00 ', '$32.00+ ', 'incentive pay',
       '30,876.00 ', 'Based on Performance', '$11.00+ ', '26.47 ',
       '44,000.00+ ', '10.00+ ', '12.75 ', '32,000.00+ ', '31,200.00+ ',
       '22.47 ', 'Base Salary plus Commisions', 'Salary plus commission',
       '900.00 ', '42,436.00 ', '19.88 ', 'Up to $31500.00', 'TBD',
       'Hourly plus gratuities',
       'Competitive wage plus benefits: medical, dental, visioin, life, 401k, profit sharing',
       '$29,000.00+ ', 'Unlimited commission potential and bonuses',
       'Competitive Salary and Benefits Package available to full time employees',
       'Base+Commission+Benefits+Car',
       'Competitive base salary, bonus, benefits & more!',
       'Base plus commission', 'Uncapped commissions', '11.75 ', '23.25 ',
       '$250.00+ '], dtype=object)

In [523]:
df_salaries

,conditions,initial_sal,final_sal
uniq_id,,,
58435fcab804439efdcaa7ecca0fd783,nan nan nan nan nan,NaN,NaN
64d0272dc8496abfd9523a8df63c184c,nan nan nan nan nan,NaN,NaN
1e2637cb5f7a2c4615a99a26c0566c66,nan nan nan nan nan,NaN,NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,nan nan nan nan nan,NaN,NaN
2f8bdf60db4d85627ab8f040e67aa78d,nan nan nan nan nan,NaN,NaN
...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,nan nan nan nan nan,NaN,NaN
9796e104240789dd33cc436f6c383892,nan nan nan nan nan,NaN,NaN
abd9ad3e0ec3c934b5a59f3776012865,nan nan nan nan nan,NaN,NaN
419a3714be2b30a10f628de207d041de,year None None None None,"45,000.00","60,000.00 $"
40161cf61c283af9dc2b0a62947a5f1b,hour None None None None,25.00,28.00 $

### Salary clean data
We just clean the structure of the column salary now we are going to clear the data itself

In [524]:
df_salaries['initial_sal_'] = df_salaries['initial_sal'].str.extract('(\d.+)')
df_salaries
# In this ocation we are gonna  erase the string of the column 'initial data' so we can use just numbers

,conditions,initial_sal,final_sal,initial_sal_
uniq_id,,,,
58435fcab804439efdcaa7ecca0fd783,nan nan nan nan nan,NaN,NaN,NaN
64d0272dc8496abfd9523a8df63c184c,nan nan nan nan nan,NaN,NaN,NaN
1e2637cb5f7a2c4615a99a26c0566c66,nan nan nan nan nan,NaN,NaN,NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,nan nan nan nan nan,NaN,NaN,NaN
2f8bdf60db4d85627ab8f040e67aa78d,nan nan nan nan nan,NaN,NaN,NaN
...,...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,nan nan nan nan nan,NaN,NaN,NaN
9796e104240789dd33cc436f6c383892,nan nan nan nan nan,NaN,NaN,NaN
abd9ad3e0ec3c934b5a59f3776012865,nan nan nan nan nan,NaN,NaN,NaN
419a3714be2b30a10f628de207d041de,year None None None None,"45,000.00","60,000.00 $","45,000.00"
40161cf61c283af9dc2b0a62947a5f1b,hour None None None None,25.00,28.00 $,25.00

In [525]:
df_salaries=df_salaries.drop(['initial_sal'], axis = 1)
df_salaries

,conditions,final_sal,initial_sal_
uniq_id,,,
58435fcab804439efdcaa7ecca0fd783,nan nan nan nan nan,NaN,NaN
64d0272dc8496abfd9523a8df63c184c,nan nan nan nan nan,NaN,NaN
1e2637cb5f7a2c4615a99a26c0566c66,nan nan nan nan nan,NaN,NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,nan nan nan nan nan,NaN,NaN
2f8bdf60db4d85627ab8f040e67aa78d,nan nan nan nan nan,NaN,NaN
...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,nan nan nan nan nan,NaN,NaN
9796e104240789dd33cc436f6c383892,nan nan nan nan nan,NaN,NaN
abd9ad3e0ec3c934b5a59f3776012865,nan nan nan nan nan,NaN,NaN
419a3714be2b30a10f628de207d041de,year None None None None,"60,000.00 $","45,000.00"
40161cf61c283af9dc2b0a62947a5f1b,hour None None None None,28.00 $,25.00

In [526]:
df_salaries['final_sal'] = df_salaries['final_sal'].str.replace('$', '')
df_salaries

,conditions,final_sal,initial_sal_
uniq_id,,,
58435fcab804439efdcaa7ecca0fd783,nan nan nan nan nan,NaN,NaN
64d0272dc8496abfd9523a8df63c184c,nan nan nan nan nan,NaN,NaN
1e2637cb5f7a2c4615a99a26c0566c66,nan nan nan nan nan,NaN,NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,nan nan nan nan nan,NaN,NaN
2f8bdf60db4d85627ab8f040e67aa78d,nan nan nan nan nan,NaN,NaN
...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,nan nan nan nan nan,NaN,NaN
9796e104240789dd33cc436f6c383892,nan nan nan nan nan,NaN,NaN
abd9ad3e0ec3c934b5a59f3776012865,nan nan nan nan nan,NaN,NaN
419a3714be2b30a10f628de207d041de,year None None None None,"60,000.00","45,000.00"
40161cf61c283af9dc2b0a62947a5f1b,hour None None None None,28.00,25.00

In [527]:
df_ = df_salaries.join(df, how='left').drop(['salary'], axis = 1)
df_
# Almost las step we have our dataset in some percent clean

,conditions,final_sal,initial_sal_,job_description,job_title,job_type,location,organization,sector
uniq_id,,,,,,,,,
58435fcab804439efdcaa7ecca0fd783,nan nan nan nan nan,NaN,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,Experienced (Non-Manager)
64d0272dc8496abfd9523a8df63c184c,nan nan nan nan nan,NaN,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,Project/Program Management
1e2637cb5f7a2c4615a99a26c0566c66,nan nan nan nan nan,NaN,NaN,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Computer/IT Services,Experienced (Non-Manager)
a6a2b5e825b8ce1c3b517adb2497c5ed,nan nan nan nan nan,NaN,NaN,"Part-Time, 4:30 pm - 9:30 pm, Mon - Fri Brookd...",Housekeeper Job in Austin,Part Time Employee,"Austin, TX 78746",Hotels and Lodging Personal and Household Serv...,Customer Support/Client Care
2f8bdf60db4d85627ab8f040e67aa78d,nan nan nan nan nan,NaN,NaN,Aflac Insurance Sales Agent While a career in ...,Aflac Insurance Sales Agent Job in Berryville,Full Time,"Berryville, VA 22611",Insurance,Customer Support/Client Care
...,...,...,...,...,...,...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,nan nan nan nan nan,NaN,NaN,RESPONSIBILITIES: ...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45249",Healthcare Services,Entry Level
9796e104240789dd33cc436f6c383892,nan nan nan nan nan,NaN,NaN,"Full-Time Amber Park Cincinnati, OH 3801 East ...",Licensed Practical Nurse LPN Job in Cincinnati,Full Time Employee,"Cincinnati, OH 45236",Healthcare Services Other/Not Classified,Medical/Health
abd9ad3e0ec3c934b5a59f3776012865,nan nan nan nan nan,NaN,NaN,What The Job Is AboutSales Support Representat...,Immediate Customer Service Position Job in Cin...,Part Time,"Cincinnati, OH 45202",All,Entry Level
419a3714be2b30a10f628de207d041de,year None None None None,"60,000.00","45,000.00",Luxury homebuilder in Cincinnati seeking multi...,Accountant Job in Cincinnati,Full Time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,Manager (Manager/Supervisor of Staff)
40161cf61c283af9dc2b0a62947a5f1b,hour None None None None,28.00,25.00,Jernberg Industries was established in 1937 an...,Electrician - Experienced Forging Electrician ...,Full Time Employee,"Chicago, IL 60609","Jernberg Industries, Inc.",Installation/Maintenance/Repair

In [528]:
shape=df_.shape
df_.isnull().sum()/shape[0]*100

conditions          0.000000
final_sal          87.802819
initial_sal_       86.021778
job_description     0.000000
job_title           0.000000
job_type            0.000000
location            0.000000
organization        0.000000
sector              0.000000
dtype: float64

### Clean Strucure

#### In order to identify the missing salaries we have to find a way to fill the empty spaces in this column, what I plan to do here is to use the correlation between non-empty salary cells and the other columns
- From this part we are going to clean strcurure identyfing job conditions, yearley, weekly, comissions .......

In [529]:
df_noempty = df_[~df_['initial_sal_'].isna()]
#df_noempty = df_[df_['initial_sal_']!= 'NaN']
df_noempty_cond = df_noempty['conditions']
df_noempty_cond.tail(20)


# First we are goin to select salarys column taht us not empty in order to obtain data that help us to predict

uniq_id
c87996f53febe5831502936a023422af                             year None None None None
23d59602ade1104ca16fec033fb6235d                             year None None None None
fee44da1aa910d621f179d89be53057c    hourpotential commissions with experience None...
bcc9909fa0e41d30a9bddc1a7ab4cc17                             hour None None None None
5310eafc4a142affdd10ab50de2c1cca        hourOvertime and Benefits None None None None
905e9e0b827bde830fbb401707dc6af4                             year None None None None
28f7367f5f9be4e6bdcf68bb7c602c08                             year None None None None
b5838e6822ee1ffd9174d41ba9ae7b9b                             hour None None None None
4a65f0199487728cc762abd524237360                    hourMedical Dental None None None
9743d9bdcaea4c3a827df5053c74a890                             year None None None None
89f0aa8bbc99eb1d0254882832e3c490                             year None None None None
292810c8b37005b3b49f84c790110594                             hour None None None None
d945dcb0eb8a365fd4ce03833e919af0                             year None None None None
6fdc35b1e72420f514f145df5eadc76d                             None None None None None
d8d1215d852cfbd07040ad11a8bc2f56    yearBonus based on company and personal perfor...
4e2b0a3e9fe5f8721f6ab4692823d9a9    week7-9% commisson depending on sales volume N...
ac3c743eb7612d90bfe80a3a30d3d8be    yearFull Benefits Package, Life Insurance, 401...
8e9f8638556bc1fd671bb99f4f01ac4d    yearHighly Competitive Base Salary PLUS Lucrat...
419a3714be2b30a10f628de207d041de                             year None None None None
40161cf61c283af9dc2b0a62947a5f1b                             hour None None None None
Name: conditions, dtype: object

In [530]:
#df_noempty_cond_ = df_noempty_cond.replace('nan', '', regex=True)
df_noempty_cond_2 = df_noempty_cond.replace('None', '', regex=True)
df_noempty_cond_2
# The goal is to transponde values to columns

uniq_id
b43c077756d5a326c4854e1399fd2464                                             hour
d8491fcefe14d1398de419984dccf427                                             year
779bb4c9bf038b7fb775134736d36fd4                                             year
ceb44cca7cd280adcb0c84c20f3c6c21                                             year
eea9b50afc4fece9f9d6ff0dbf659784                                             year
                                                          ...
4e2b0a3e9fe5f8721f6ab4692823d9a9     week7-9% commisson depending on sales volume
ac3c743eb7612d90bfe80a3a30d3d8be    yearFull Benefits Package, Life Insurance, 401...
8e9f8638556bc1fd671bb99f4f01ac4d    yearHighly Competitive Base Salary PLUS Lucrat...
419a3714be2b30a10f628de207d041de                                             year
40161cf61c283af9dc2b0a62947a5f1b                                             hour
Name: conditions, Length: 1656, dtype: object

In [531]:
df_noempty_cond_2= df_noempty_cond_2.str.lower()
df_noempty_cond_2_ = df_noempty_cond_2.to_frame()
df_noempty_cond_2_

                                                                         conditions
uniq_id
b43c077756d5a326c4854e1399fd2464                                           hour
d8491fcefe14d1398de419984dccf427                                           year
779bb4c9bf038b7fb775134736d36fd4                                           year
ceb44cca7cd280adcb0c84c20f3c6c21                                           year
eea9b50afc4fece9f9d6ff0dbf659784                                           year
...                                                                             ...
4e2b0a3e9fe5f8721f6ab4692823d9a9   week7-9% commisson depending on sales volume
ac3c743eb7612d90bfe80a3a30d3d8be  yearfull benefits package, life insurance, 401...
8e9f8638556bc1fd671bb99f4f01ac4d  yearhighly competitive base salary plus lucrat...
419a3714be2b30a10f628de207d041de                                           year
40161cf61c283af9dc2b0a62947a5f1b                                           hour

[1656 rows x 1 columns]

In [532]:
df_noempty_cond_split = df_noempty_cond_2_['conditions'].str.split(' ',n=1 ,expand=True)
df_noempty_cond_3 = df_noempty_cond_split.replace([None], '', regex=True)
df_noempty_cond_3.head(20)

,0,1
uniq_id,,
b43c077756d5a326c4854e1399fd2464,hour,
d8491fcefe14d1398de419984dccf427,year,
779bb4c9bf038b7fb775134736d36fd4,year,
ceb44cca7cd280adcb0c84c20f3c6c21,year,
eea9b50afc4fece9f9d6ff0dbf659784,year,
1f2da47e60173c6667395f081c048713,,
f15dfb5ad12ddb6acb8a26eb04f2220f,"yearbonus,","benefits, 401k"
ea722c991c6d3816965702948e320cb6,yearsalary,
3c2f7c555173e04db07a96b23c1be974,houryear,end bonus
84422981a6356a19a6a4b53aa460e028,year,
e604181adbc6c97d99ea4d555c09fbf5,,
55921bac6a43cc7665dc240466d9a625,year,
f884de2958f94e4ad417aefcacd350c7,hour,
2c245cd613ea74d1c076f8e027f6d734,yearhighly,competitive base salary plus lucrative bonus p...
c8d4793a041484771cca9c30491ac025,hour,
c8809c7fd620d50614d601f3c49b7e52,yeargenerous,commission plan
d5fc3473ab5b7e8c3b15859974d61f95,,
78fbaa3187a9a3d213408fb85d083eb0,year,
047c53ea5122a2821a134586256dc36d,year,
4bdb37e7a38b977ab6fbf4f57b03b603,year,

In [533]:
df_noempty_cond_3['period'] = df_noempty_cond_3[0].astype(str).str[0:4]
df_noempty_cond_3['period_cond'] = df_noempty_cond_3[0].astype(str).str[4:-1]
df_noempty_period = df_noempty_cond_3.drop(0, axis = 1)
df_noempty_period_ = df_noempty_period.rename(columns= {1: 'benefits'})
df_noempty_period_['benefits'] = df_noempty_period_['benefits'].str.strip()
df_noempty_period_

,benefits,period,period_cond
uniq_id,,,
b43c077756d5a326c4854e1399fd2464,,hour,
d8491fcefe14d1398de419984dccf427,,year,
779bb4c9bf038b7fb775134736d36fd4,,year,
ceb44cca7cd280adcb0c84c20f3c6c21,,year,
eea9b50afc4fece9f9d6ff0dbf659784,,year,
...,...,...,...
4e2b0a3e9fe5f8721f6ab4692823d9a9,commisson depending on sales volume,week,7-9
ac3c743eb7612d90bfe80a3a30d3d8be,"benefits package, life insurance, 401k, reloca...",year,ful
8e9f8638556bc1fd671bb99f4f01ac4d,competitive base salary plus lucrative bonus p...,year,highl
419a3714be2b30a10f628de207d041de,,year,
40161cf61c283af9dc2b0a62947a5f1b,,hour,

In [534]:
df_2 = df_.join(df_noempty_period_, how='left').drop(columns='conditions')
#df_2= df_2
df_2.head(5)

,final_sal,initial_sal_,job_description,job_title,job_type,location,organization,sector,benefits,period,period_cond
uniq_id,,,,,,,,,,,
58435fcab804439efdcaa7ecca0fd783,NaN,NaN,Why Join Altec? If you’re considering a career...,Engineer - Quality Job in Dixon,Full Time,"Dixon, CA",Altec Industries,Experienced (Non-Manager),NaN,NaN,NaN
64d0272dc8496abfd9523a8df63c184c,NaN,NaN,Position ID# 76162 # Positions 1 State CT C...,Shift Supervisor - Part-Time Job in Camphill,Full Time Employee,"Camphill, PA",Retail,Project/Program Management,NaN,NaN,NaN
1e2637cb5f7a2c4615a99a26c0566c66,NaN,NaN,Job Description Job #: 720298Apex Systems has...,Construction PM - Charlottesville Job in Charl...,Full Time Employee,"Charlottesville, VA",Computer/IT Services,Experienced (Non-Manager),NaN,NaN,NaN
a6a2b5e825b8ce1c3b517adb2497c5ed,NaN,NaN,"Part-Time, 4:30 pm - 9:30 pm, Mon - Fri Brookd...",Housekeeper Job in Austin,Part Time Employee,"Austin, TX 78746",Hotels and Lodging Personal and Household Serv...,Customer Support/Client Care,NaN,NaN,NaN
2f8bdf60db4d85627ab8f040e67aa78d,NaN,NaN,Aflac Insurance Sales Agent While a career in ...,Aflac Insurance Sales Agent Job in Berryville,Full Time,"Berryville, VA 22611",Insurance,Customer Support/Client Care,NaN,NaN,NaN

## job_title

### Job title has information about the position but also has information about job_type an location that already exist in other columns so the only information in this column that reallly maters is the position.

In [535]:
df_job_title = df_['job_title']
df_job_title_= df_job_title.to_frame()
df_job_title_in = df_job_title_['job_title'].str.split('Job in', n=1, expand=True)
df_job_title1 = df_job_title_in[0].str.split('-', n=1, expand=True)
df_job_title1[0] = df_job_title1[0].str.lower()
df_job_title1

,0,1
uniq_id,,
58435fcab804439efdcaa7ecca0fd783,engineer,Quality
64d0272dc8496abfd9523a8df63c184c,shift supervisor,Part-Time
1e2637cb5f7a2c4615a99a26c0566c66,construction pm,Charlottesville
a6a2b5e825b8ce1c3b517adb2497c5ed,housekeeper,None
2f8bdf60db4d85627ab8f040e67aa78d,aflac insurance sales agent,None
...,...,...
7502ee8f0d324f86334c531fa8bcf663,accountant,None
9796e104240789dd33cc436f6c383892,licensed practical nurse lpn,None
abd9ad3e0ec3c934b5a59f3776012865,immediate customer service position,None
419a3714be2b30a10f628de207d041de,accountant,None
40161cf61c283af9dc2b0a62947a5f1b,electrician,Experienced Forging Electrician

In [536]:
df_3 = df_2.join(df_job_title1, how= 'left').rename(columns={0:'job'}).drop(columns = ['job_title',1])
df_3['job_type']= df_3['job_type'].replace('Employee', '', regex=True).replace(',','').str.lower()
df_3

,final_sal,initial_sal_,job_description,job_type,location,organization,sector,benefits,period,period_cond,job
uniq_id,,,,,,,,,,,
58435fcab804439efdcaa7ecca0fd783,NaN,NaN,Why Join Altec? If you’re considering a career...,full time,"Dixon, CA",Altec Industries,Experienced (Non-Manager),NaN,NaN,NaN,engineer
64d0272dc8496abfd9523a8df63c184c,NaN,NaN,Position ID# 76162 # Positions 1 State CT C...,full time,"Camphill, PA",Retail,Project/Program Management,NaN,NaN,NaN,shift supervisor
1e2637cb5f7a2c4615a99a26c0566c66,NaN,NaN,Job Description Job #: 720298Apex Systems has...,full time,"Charlottesville, VA",Computer/IT Services,Experienced (Non-Manager),NaN,NaN,NaN,construction pm
a6a2b5e825b8ce1c3b517adb2497c5ed,NaN,NaN,"Part-Time, 4:30 pm - 9:30 pm, Mon - Fri Brookd...",part time,"Austin, TX 78746",Hotels and Lodging Personal and Household Serv...,Customer Support/Client Care,NaN,NaN,NaN,housekeeper
2f8bdf60db4d85627ab8f040e67aa78d,NaN,NaN,Aflac Insurance Sales Agent While a career in ...,full time,"Berryville, VA 22611",Insurance,Customer Support/Client Care,NaN,NaN,NaN,aflac insurance sales agent
...,...,...,...,...,...,...,...,...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,NaN,NaN,RESPONSIBILITIES: ...,full time,"Cincinnati, OH 45249",Healthcare Services,Entry Level,NaN,NaN,NaN,accountant
9796e104240789dd33cc436f6c383892,NaN,NaN,"Full-Time Amber Park Cincinnati, OH 3801 East ...",full time,"Cincinnati, OH 45236",Healthcare Services Other/Not Classified,Medical/Health,NaN,NaN,NaN,licensed practical nurse lpn
abd9ad3e0ec3c934b5a59f3776012865,NaN,NaN,What The Job Is AboutSales Support Representat...,part time,"Cincinnati, OH 45202",All,Entry Level,NaN,NaN,NaN,immediate customer service position
419a3714be2b30a10f628de207d041de,"60,000.00","45,000.00",Luxury homebuilder in Cincinnati seeking multi...,full time,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,Manager (Manager/Supervisor of Staff),,year,,accountant
40161cf61c283af9dc2b0a62947a5f1b,28.00,25.00,Jernberg Industries was established in 1937 an...,full time,"Chicago, IL 60609","Jernberg Industries, Inc.",Installation/Maintenance/Repair,,hour,,electrician

## Job_type
### Here we just take the type of job an erease aditional information that might not be usefull

In [537]:
df_4= df_3['job_type']
df_4 = df_4.str.split('/', expand=True)
df_5 = df_3.join(df_4[0], how='left').drop(columns='job_type').rename(columns= {0:'job_type'})
df_5.head()

,final_sal,initial_sal_,job_description,location,organization,sector,benefits,period,period_cond,job,job_type
uniq_id,,,,,,,,,,,
58435fcab804439efdcaa7ecca0fd783,NaN,NaN,Why Join Altec? If you’re considering a career...,"Dixon, CA",Altec Industries,Experienced (Non-Manager),NaN,NaN,NaN,engineer,full time
64d0272dc8496abfd9523a8df63c184c,NaN,NaN,Position ID# 76162 # Positions 1 State CT C...,"Camphill, PA",Retail,Project/Program Management,NaN,NaN,NaN,shift supervisor,full time
1e2637cb5f7a2c4615a99a26c0566c66,NaN,NaN,Job Description Job #: 720298Apex Systems has...,"Charlottesville, VA",Computer/IT Services,Experienced (Non-Manager),NaN,NaN,NaN,construction pm,full time
a6a2b5e825b8ce1c3b517adb2497c5ed,NaN,NaN,"Part-Time, 4:30 pm - 9:30 pm, Mon - Fri Brookd...","Austin, TX 78746",Hotels and Lodging Personal and Household Serv...,Customer Support/Client Care,NaN,NaN,NaN,housekeeper,part time
2f8bdf60db4d85627ab8f040e67aa78d,NaN,NaN,Aflac Insurance Sales Agent While a career in ...,"Berryville, VA 22611",Insurance,Customer Support/Client Care,NaN,NaN,NaN,aflac insurance sales agent,full time

## location
#### This column has information about city, state and other kind that is not usefull
#### In this oportunity I'm just intereste in city and state

In [553]:
df_6 = df_5['location']
df_6 = df_6.str.split(',', n=2 , expand=True)
df_6[['city','state']] = df_6[[0,1]]
df_6 = df_6.drop(columns=[0,1,2])
df_6['city'] = df_6['city'].str.lower()
df_6['state'] = df_6['state'].str.lower()
df_6

                                             city      state
uniq_id
58435fcab804439efdcaa7ecca0fd783            dixon         ca
64d0272dc8496abfd9523a8df63c184c         camphill         pa
1e2637cb5f7a2c4615a99a26c0566c66  charlottesville         va
a6a2b5e825b8ce1c3b517adb2497c5ed           austin   tx 78746
2f8bdf60db4d85627ab8f040e67aa78d       berryville   va 22611
...                                           ...        ...
7502ee8f0d324f86334c531fa8bcf663       cincinnati   oh 45249
9796e104240789dd33cc436f6c383892       cincinnati   oh 45236
abd9ad3e0ec3c934b5a59f3776012865       cincinnati   oh 45202
419a3714be2b30a10f628de207d041de       cincinnati   oh 45236
40161cf61c283af9dc2b0a62947a5f1b          chicago   il 60609

[11847 rows x 2 columns]

In [554]:
df_7 = df_5.join(df_6, how='left')
df_7

,final_sal,initial_sal_,job_description,location,organization,sector,benefits,period,period_cond,job,job_type,city,state
uniq_id,,,,,,,,,,,,,
58435fcab804439efdcaa7ecca0fd783,NaN,NaN,Why Join Altec? If you’re considering a career...,"Dixon, CA",Altec Industries,Experienced (Non-Manager),NaN,NaN,NaN,engineer,full time,dixon,ca
64d0272dc8496abfd9523a8df63c184c,NaN,NaN,Position ID# 76162 # Positions 1 State CT C...,"Camphill, PA",Retail,Project/Program Management,NaN,NaN,NaN,shift supervisor,full time,camphill,pa
1e2637cb5f7a2c4615a99a26c0566c66,NaN,NaN,Job Description Job #: 720298Apex Systems has...,"Charlottesville, VA",Computer/IT Services,Experienced (Non-Manager),NaN,NaN,NaN,construction pm,full time,charlottesville,va
a6a2b5e825b8ce1c3b517adb2497c5ed,NaN,NaN,"Part-Time, 4:30 pm - 9:30 pm, Mon - Fri Brookd...","Austin, TX 78746",Hotels and Lodging Personal and Household Serv...,Customer Support/Client Care,NaN,NaN,NaN,housekeeper,part time,austin,tx 78746
2f8bdf60db4d85627ab8f040e67aa78d,NaN,NaN,Aflac Insurance Sales Agent While a career in ...,"Berryville, VA 22611",Insurance,Customer Support/Client Care,NaN,NaN,NaN,aflac insurance sales agent,full time,berryville,va 22611
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7502ee8f0d324f86334c531fa8bcf663,NaN,NaN,RESPONSIBILITIES: ...,"Cincinnati, OH 45249",Healthcare Services,Entry Level,NaN,NaN,NaN,accountant,full time,cincinnati,oh 45249
9796e104240789dd33cc436f6c383892,NaN,NaN,"Full-Time Amber Park Cincinnati, OH 3801 East ...","Cincinnati, OH 45236",Healthcare Services Other/Not Classified,Medical/Health,NaN,NaN,NaN,licensed practical nurse lpn,full time,cincinnati,oh 45236
abd9ad3e0ec3c934b5a59f3776012865,NaN,NaN,What The Job Is AboutSales Support Representat...,"Cincinnati, OH 45202",All,Entry Level,NaN,NaN,NaN,immediate customer service position,part time,cincinnati,oh 45202
419a3714be2b30a10f628de207d041de,"60,000.00","45,000.00",Luxury homebuilder in Cincinnati seeking multi...,"Cincinnati, OH 45236",Construction - Residential & Commercial/Office,Manager (Manager/Supervisor of Staff),,year,,accountant,full time,cincinnati,oh 45236
40161cf61c283af9dc2b0a62947a5f1b,28.00,25.00,Jernberg Industries was established in 1937 an...,"Chicago, IL 60609","Jernberg Industries, Inc.",Installation/Maintenance/Repair,,hour,,electrician,full time,chicago,il 60609

In [ ]:

lista = df_noempty_period_['benefits'].str.split(',', expand=True).stack().value_counts()
df_lista = lista.to_frame()
df_lista

                                                    count
                                                     1402
benefits                                               16
bonus                                                  14
 401k                                                   8
benefits package                                        8
...                                                   ...
+ ot with bonus potential                               1
will be based on experience                             1
 negoitable                                             1
rate                                                    1
 apply today and grow with this nationally pres...      1

[267 rows x 1 columns]

In [ ]:
conteo = df_lista[df_lista['count']>30]#.to_csv('lista.csv')
conteo

  count
   1402

In [ ]:
empty_word=[' on ',' in ',' this ', ' plus ', ' a ', ' an ', ' end ', ' very ', ' do ' , ' not ' ,' upward ', ' are ', ' and ']

for i in range(len(empty_word)):
    df_noempty_cond_2_["conditions"] = df_noempty_cond_2_["conditions"].apply(lambda x: x.replace(empty_word[i], " "))

type(df_noempty_cond_2_)

pandas.core.frame.DataFrame

In [ ]:

# Lets start with the column conditions

In [ ]:


# Lets split conditions columns so

In [ ]:
dif = df_con_split[df_con_split[0]!='']
dif[1].unique()

NameError: name 'df_con_split' is not defined

# Change data types

# Clean structures again

In [ ]:
 #page_url has same information of job title

# Imputation — the process of replacing missing data with substituted values.

Page_url has the same information than Job title and location